<section id="section-intro" class="section row">
    <h3>${this.localeObj.t('lkkJoin.mainHeader.title')}</h3>
    <div class="row">
        <div class="col s12 m4 center-align">
            <img class="responsive-img" alt="${this.localeObj.t('lkkJoin.joinLkkPoster')}" width="256" src="${require('../img/organizer_call.png')}">
        </div>
        <div class="col s12 m8">
            <p>
                ${this.localeObj.t('lkkJoin.mainHeader.par00')}
            </p>
            <p>
                ${this.localeObj.t('lkkJoin.mainHeader.par01')}
            </p>
        </div>
    </div>
</section>

<section class="section">
    <h3>${this.localeObj.t('lkkJoin.qualifications.title')}</h3>
    <p>
        ${this.localeObj.t('lkkJoin.qualifications.par00')}
    </p>

    <ul class="browser-default">
        <li>${this.localeObj.t('lkkJoin.qualifications.list00')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list01')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list02')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list03')}</li>
    </ul>

    <p>
        ${this.localeObj.t('lkkJoin.qualifications.par01')}
    </p>

    <ul class="browser-default">
        <li>${this.localeObj.t('lkkJoin.qualifications.list04')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list05')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list06')}</li>
        <li>${this.localeObj.t('lkkJoin.qualifications.list07')}</li>
    </ul>

    <p>
        ${this.localeObj.t('lkkJoin.qualifications.par02')}
    </p>
</section>

<section id="section-vacant" class="section">
    <h3>${this.localeObj.t('lkkJoin.vacancies.title')}</h3>
    <p>
        ${this.localeObj.t('lkkJoin.vacancies.par00')}
    </p>

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">edit</i>${this.localeObj.t('lkkJoin.vacancies.lists.sec.title')}</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.sec.list00')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.sec.list01')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.sec.list02')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.sec.list03')}</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Secretary">${this.localeObj.t('lkkJoin.vacancies.applyPosition')}</a>
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">local_atm</i>${this.localeObj.t('lkkJoin.vacancies.lists.fin.title')}</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list00')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list01')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list02')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list03')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list04')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.fin.list05')}</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Director+for+Finance">${this.localeObj.t('lkkJoin.vacancies.applyPosition')}</a>
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">location_city</i>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.title')}</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.list00')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.list01')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.list02')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.list03')}</li>
                    <li>${this.localeObj.t('lkkJoin.vacancies.lists.logistics.list04')}</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Director+for+Logistics">${this.localeObj.t('lkkJoin.vacancies.applyPosition')}</a>
                </p>
            </div>
        </li>
    </ul>

    <p>
        ${this.localeObj.t('lkkJoin.vacancies.par01')}
    </p>

    <p class="center-align">
        <a class="btn green darken-4 btn-large waves-effect waves-light" target="_blank" href="//bit.ly/OrganizeFJKApply">${this.localeObj.t('lkkJoin.vacancies.applyNow')}</a>
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('lkkJoin.contact.title')}</h3>
    <p>
            ${this.localeObj.t('lkkJoin.contact.chunk00')}
            +63 998 249 1891
            ${this.localeObj.t('lkkJoin.contact.chunk01')}
            esperanto.philippines@gmail.com
            ${this.localeObj.t('lkkJoin.contact.chunk02')}
            peyc2020@gmail.com.
    </p>
</section>