<div id="div-steps" class="steps-container hide"></div>

<form method="post">
    <section id="section-guidelines" class="section">
        <h3>Registration Guidelines</h3>
        <p>
            Welcome to the First Philippine Esperanto Youth Congress! We would like to thank you for your interest in this event. Before proceeding with the registration, please read the following guidelines.
        </p>

        <h4>Who can join?</h4>
        <p>
            Participation is open to any person of any age, Philippine or foreign national, who has at least a basic command of Esperanto and is interested to learn more of the language and its community and culture, participate in the activities of the congress, and actively interact with other participants.
        </p>

        <h4>Registration Fee</h4>
        <p>
            The registration fee for the congress depends on three main factors: the individual's age at the time of registration, the individual's country of origin, and the period in which registration and payment are made. Individuals who register early can avail of discounted fees. There is also a separate category for individuals who wish to financially support the Congress, and separate fees for foreign participants.
        </p>
        <p>
            The fee includes the participant's kit and access to all programs (unless otherwise indicated in the congress booklet). It <em>does not</em> include lodging, other meals, the excursion, and insurances.
        </p>
        <p>
            The registration fee is strictly <em>non-transferable</em> and <em>non-refundable</em>, regardless of whether the participant fails to attend the Congress through their own volition or due to any other cause, or if the Congress is cancelled or postponed for any reason.
        </p>

        <h4>Are you ready?</h4>
        <noscript>
            <div class="card-panel red darken-2">
                <span class="white-text">
                    Oh no! It seems that you have disabled JavaScript or your browser does not support it. Please <a class="yellow-text text-darken-2" href="//enable-javascript.com/" target="_blank">enable</a> it to register.
                </span>
            </div>
        </noscript>
        <div class="card hide-on-no-js">
            <div class="card-content">
                <span class="card-title">Cookie Notice</span>
                <p>
                    By clicking 'Start Registration', you agree to the storing of cookies on your device to save your partially-accomplished registration details. These cookies will be stored specifically for this purpose and data within it will not be sent to our servers until you submit the form.
                </p>
            </div>
            <div class="card-action">
                <a id="a-start-reg" class="btn green darken-3 waves-effect" href="">Start Registration</a>
            </div>
        </div>
    </section>

    <section id="section-basic" class="section hide">
        <h3>Basic Information</h3>
        <p>
            Fields marked with an asterisk (*) mean that they are required to be filled-up.
        </p>
        <div class="row">
            <div class="input-field col s6 l4">
                <input id="txt-last-name" name="txt-last-name" class="validate" type="text" required>
                <label for="txt-last-name">Last Name*</label>
                <span class="helper-text" data-error="Please enter your last name"></span>
            </div>
            <div class="input-field col s6 l4">
                <input id="txt-first-name" name="txt-first-name" class="validate" type="text" required>
                <label for="txt-first-name">First Name*</label>
                <span class="helper-text" data-error="Please enter your first name"></span>
            </div>
            <div class="input-field col s12 l4">
                <input id="txt-middle-name" name="txt-middle-name" type="text">
                <label for="txt-middle-name">Middle Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="txt-nickname" name="txt-nickname" class="validate" type="text" required>
                <label for="txt-nickname">Nickname*</label>
                <span class="helper-text" data-error="Please enter your nickname"></span>
            </div>
            <div class="input-field col s6 l2">
                <input id="txt-bday" name="txt-bday" class="datepicker validate" type="text" required>
                <label for="txt-bday">Birthday*</label>
                <span class="helper-text" data-error="Please enter your birthdate"></span>
            </div>
            <div class="input-field col s6 l2">
                <select id="select-sex-list" name="select-sex-list" required>
                    <option value="" disabled selected>Sex*</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="unknown">Prefer not to say</option>
                </select>
                <span class="helper-text" data-error="Please select your sex"></span>
            </div>
            <div class="input-field col s12 l4">
                <select id="select-countries-list" name="select-countries-list" required>
                    <option value="" disabled selected>Country of Origin*</option>
                </select>
                <span class="helper-text" data-error="Please select your country of origin"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="txt-email" class="validate" name="txt-email" type="email" required>
                <label for="txt-email">E-mail Address*</label>
                <span class="helper-text" data-error="Please enter a valid email address" type="text"></span>
            </div>
            <div class="input-field col s12 m6">
                <input id="txt-sns" name="txt-sns" type="text">
                <label for="txt-sns">Social Media Username (Facebook, etc.)</label>
            </div>
        </div>
    </section>

    <section id="section-reg" class="section hide">
        <h3>Registration Details</h3>

        <div id="div-reg-ratecard" class="card">
            <div class="card-content yellow darken-2">
                <p>
                    You originate from {country}, which are subject to {insideMode} rates.
                </p>
            </div>
            <div class="card-action"></div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <h6>I want to register as&#8230;</h6>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="regular" checked>
                    <span>Regular Participant</span>
                </label>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="moral">
                    <span>Moral Participant</span>
                </label>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="patron">
                    <span>Congress Patron</span>
                </label>
            </div>
        </div>

        <div id="div-reg-category" class="row">
            <div class="input-field col s12">
                <h6>&#8230;with current occupation</h6>
            </div>
            <div class="input-field col s12">
                <select id="select-reg-occupation" name="select-reg-occupation" required>
                    <option value="" disabled selected>Occupation*</option>
                    <option value="shs">Senior High School and younger</option>
                    <option value="undergrad">Undergraduate Student</option>
                    <option value="grad">Graduate Student and equivalent/higher</option>
                    <option value="working">Professional/Working</option>
                    <option value="unemployed">Unemployed</option>
                </select>
                <span class="helper-text" data-error="Please select your occupation"></span>
            </div>
        </div>

        <div id="div-reg-educ-info" class="row hide">
            <div class="input-field col s12">
                <h6>&#8230;and currently studying at</h6>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-educ" class="validate" name="txt-reg-educ">
                <label for="txt-reg-educ">Educational Institution*</label>
                <span class="helper-text" data-error="Please enter your educational institution"></span>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-degree" class="validate" name="txt-reg-degree">
                <label for="txt-reg-degree">Degree*</label>
                <span class="helper-text" data-error="Please enter your degree"></span>
            </div>
        </div>

        <div id="div-reg-work-info" class="row hide">
            <div class="input-field col s12">
                <h6>&#8230;and currently working at</h6>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-company" class="validate" name="txt-reg-company"">
                <label for="txt-reg-company">Company/Office*</label>
                <span class="helper-text" data-error="Please enter your company/office"></span>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-position" class="validate" name="txt-reg-position">
                <label for="txt-reg-position">Position*</label>
                <span class="helper-text" data-error="Please enter your position"></span>
            </div>
        </div>

        <!-- Modal for local rates -->
        <div id="div-modal-ph-rates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Registration Rates for Local Participants</h4>
                <p class="card-panel red darken-2 white-text">
                    Note that all prices are in Philippine Peso.
                </p>

                <table>
                    <tr>
                        <th colspan="2">Category</th>
                        <th>Early Bird</th>
                        <th>Regular</th>
                        <th>Late</th>
                    </tr>
                    <tr>
                        <td>A1</td>
                        <td>Senior high school students and younger</td>
                        <td>1200</td>
                        <td>1400</td>
                        <td>1600</td>
                    </tr>
                    <tr>
                        <td>A2</td>
                        <td>Undergraduate students</td>
                        <td>1500</td>
                        <td>1700</td>
                        <td>1900</td>
                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>Workers, graduate students, etc. &leq; 35 years old</td>
                        <td>1800</td>
                        <td>2000</td>
                        <td>2200</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>Workers, graduate students, etc. &gt; 35 years old</td>
                        <td>2100</td>
                        <td>2300</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Moral Participant</td>
                        <td class="center-align" colspan="3">1000</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Congress Patron</td>
                        <td class="center-align" colspan="3">5000</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat green-text text-darken-2 waves-effect btn-flat">Close</a>
            </div>
        </div>

        <!-- Modal for other rates -->
        <div id="div-modal-foreign-rates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Registration Rates for Foreign Participants</h4>
                <p class="card-panel red darken-2 white-text">
                    Note that all prices are in Euro. For reference, 1 EUR = 56.00 PHP
                </p>

                <table>
                    <tr>
                        <th colspan="2">Category</th>
                        <th>Early Bird</th>
                        <th>Regular</th>
                        <th>Late</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>Undergraduate students and below</td>
                        <td>30</td>
                        <td>35</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>Workers, graduate students, etc. &leq; 35 years old</td>
                        <td>35</td>
                        <td>40</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>Workers, graduate students, etc. &gt; 35 years old</td>
                        <td>40</td>
                        <td>45</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Moral Participant</td>
                        <td class="center-align" colspan="3">20</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Congress Patron</td>
                        <td class="center-align" colspan="3">100</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat green-text text-darken-2">Close</a>
            </div>
        </div>
    </section>

    <section id="section-lodging" class="section hide">
        <h3>Lodging</h3>
        <p class="card-panel red darken-2 white-text">
            More information on lodging options will be released very soon. The information entered here will be used for surveying purposes.
        </p>

        <div class="row">
            <label class="input-field col s12 m6">
                <input class="filled-in" name="cbx-lodging-interest" type="checkbox">
                <span>I am interested in reserving a room in the partner hotels of the congress</span>
            </label>
            <label class="input-field col s12 m6">
                <input class="filled-in" name="cbx-lodging-overstay" type="checkbox">
                <span>I need to reserve beyond the congress dates</span>
            </label>
        </div>
    </section>

    <section id="section-excursion" class="section hide">
        <h3>Excursion</h3>
        <p class="card-panel red darken-2 white-text">
            More information on the excursion will be released very soon. The information entered here will be used for surveying purposes.
        </p>
        <div class="row">
            <label class="input-field col s12">
                <input class="filled-in" name="cbx-excursion-interest" type="checkbox">
                <span>I am interested in joining the excursion</span>
            </label>
        </div>
    </section>

    <section id="section-food" class="section hide">
        <h3>Food</h3>
        <p>
            I have the following dietary restrictions
        </p>
        <div class="row">
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-pref[]" type="checkbox" value="vegetarian">
                <span>Vegetarian</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-pref[]" type="checkbox" value="vegan">
                <span>Vegan</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-pref[]" type="checkbox" value="halal">
                <span>Halal</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-pref[]" type="checkbox" value="kosher">
                <span>Kosher</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-pref[]" type="checkbox" value="other">
                <span>Other</span>
            </label>
        </div>

        <p>
            I have the following food allergies
        </p>
        <div class="row">
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="nuts">
                <span>Nuts</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="seafood">
                <span>Seafood</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="wheat">
                <span>Gluten (Wheat)</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="milk">
                <span>Milk</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="spicy">
                <span>Spicy</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="other">
                <span>Other</span>
            </label>
        </div>

        <p>
            Do you drink alcohol?
        </p>
        <div class="row">
            <label class="input-field col s12 m2">
                <input class="with-gap" name="rbx-alcohol-pref" type="radio" value="yes">
                <span>Yes</span>
            </label>
            <label class="input-field col s12 m2">
                <input class="with-gap" name="rbx-alcohol-pref" type="radio" value="no" checked>
                <span>No</span>
            </label>
        </div>
    </section>

    <section id="section-others" class="section hide">
        <h4>Congress Photo</h4>
        <p class="card-panel red darken-2 white-text">
            More information about this will be out soon!
        </p>

        <p>
            <label>
                <input class="filled-in" name="cbx-others-photo" type="checkbox">
                <span>I would like to avail of the official printed congress photo</span>
            </label>
        </p>

        <h4>Invitation Letter</h4>
        <p>
            All participants will receive a digital copy of their invitation letters in their respective emails. However, in the case that you need documentation for various purposes, you may request a printed invitation letter from us.
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-invitletter" type="checkbox">
                <span>I would like to have a printed invitation letter sent through mail</span>
            </label>
        </p>

        <h4>Others</h4>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-name-include" type="checkbox">
                <span>I want my full name written in the list of participants</span>
            </div>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-contrib" type="checkbox">
                <span>I want to contribute to the congress program by any means</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-volcorp" type="checkbox">
                <span>I am willing to be a part of the Congress Volunteer Corps</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-cert" type="checkbox">
                <span>I need a printed certificate of attendance</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-nobooklet" type="checkbox">
                <span>I do not wish to receive a printed congress booklet</span>
            </label>
        </p>
    </section>

    <section id="section-payment" class="section hide">
        <h3>Donations</h3>

        <div class="row">
            <div class="col s12">
                <div class="input-field inline">
                    <input id="txt-congress-fund" type="number" class="validate" placeholder="0.00">
                </div>
                PHP for the <b>Congress Fund</b> <a class="tooltipped" data-position="top" data-tooltip="for the general organization of the congress and covering its costs, and eventually to make the program richer and more substantial">[?]</a>
            </div>
            <div class="col s12">
                <div class="input-field inline">
                    <input id="txt-participant-fund" type="number" len class="validate" placeholder="0.00">
                </div>
                PHP for <b>participant support</b> <a class="tooltipped" data-position="top" data-tooltip="to support young Filipinos which live in areas far from the Congress venue or those who undergo financial struggles">[?]</a>
            </div>
            <div class="col s12">
                <div class="input-field inline">
                    <input id="txt-fej-fund" type="number" len class="validate" placeholder="0.00">
                </div>
                PHP for <b>Association Fund</b> <a class="tooltipped" data-position="top" data-tooltip="to finance the activities and initiatives of the Philippine Esperanto Youth">[?]</a>
            </div>
        </div>

        <h3>Payment</h3>
        <input type="hidden" name="hdn-reg-period" value="regular">
        <div id="div-panel-reg-date-notice" class="card">
            <div class="card-content green darken-3 white-text">
                <span class="card-title">Regular Registration</span>
                <p>
                    Today is within the period of regular registration.
                </p>
            </div>
            <div class="card-action">
                <a href="#div-modal-reg-dates" class="btn-flat green-text text-darken-2 modal-trigger">View Dates</a>
            </div>
        </div>

        <div class="row">
            <div id="div-card-payment-details" class="col s12 m5 card">
                <div class="card-content">
                    <span class="card-title">Payment Details</span>
                    <div class="row">
                        Early bird
                    </div>
                </div>
            </div>
            <div class="col s12 offset-m1 m6">
                <h5>Pay via</h5>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="paypal" checked>
                        <span>PayPal</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="bank">
                        <span>Deposit via Bank Account</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="wire">
                        <span>Wire Transfer</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="card">
                        <span>Credit/Debit Card via PayPal</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="uea">
                        <span>UEA Account</span>
                    </label>
                </p>
            </div>
        </div>

        <h3>Certification</h3>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-true" required>
                <span>I certify that all information provided is accurate and can be easily verified using physical documents</span>
                <span class="helper-text" data-error="Please attest the veracity of your input"></span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-privacy" required>
                <span>I have read the privacy policy regarding my registration with the congress</span>
                <span class="helper-text" data-error="Please consent to our privacy policy"></span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-publicity" required>
                <span>I consent to give rights to the organizing committee to include me in its documentation of the congress</span>
                <span class="helper-text" data-error="Please consent to publicity rights"></span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-newsletter">
                <span>I would like to receive frequent information on the congress (such as status updates and newsletters)</span>
            </label>
        </p>

        <!-- Modal for registration dates -->
        <div id="div-modal-reg-dates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Registration Dates</h4>
                <p class="card-panel red darken-2 white-text">
                    All dates are in Philippine Standard Time (GMT+8). Time of end dates are at 11:59 PM.
                </p>
                <table>
                    <tr>
                        <th></th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    <tr>
                        <td>Early Bird</td>
                        <td>25 November, 2020</td>
                        <td>31 December, 2019</td>
                    </tr>
                    <tr>
                        <td>Regular</td>
                        <td>01 Jan, 2020</td>
                        <td>23 March, 2020</td>
                    </tr>
                    <tr>
                        <td>Late</td>
                        <td>24 March, 2020</td>
                        <td>22 April, 2020</td>
                    </tr>
                    <tr>
                        <td>On-Site</td>
                        <td>23 April, 2020</td>
                        <td>25 April, 2020</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat">Close</a>
            </div>
        </div>
    </section>

    <section id="section-nav-buttons" class="section hide center-align">
        <button id="btn-prev" class="btn btn-large disabled waves-effect waves-light green darken-3"><i class="material-icons left">navigate_before</i>Back</a>
        <button id="btn-next" class="btn btn-large waves-effect waves-light green darken-3">Next<i class="material-icons right">navigate_next</i></a>
    </section>
</form>