<div id="div-steps" class="steps-container hide"></div>

<form id="form-register" method="post">
    <section id="section-guidelines" class="section">
        <h3>Registration Guidelines</h3>
        <p>
            Welcome to the First Philippine Esperanto Youth Congress! We would like to thank you for your interest in this event. Before proceeding with the registration, please read the following guidelines.
        </p>

        <h4>Who can join?</h4>
        <p>
            Participation is open to any person of any age, Philippine or foreign national, who has at least a basic command of Esperanto and is interested to learn more of the language and its community and culture, participate in the activities of the congress, and actively interact with other participants.
        </p>

        <h4>Are there any fees?</h4>
        <p>
            Yes. The registration fee for the congress depends on three main factors: the individual's age at the time of registration, the individual's country of origin, and the period in which registration and payment are made. Individuals who register early can avail of discounted fees. There is also a separate category for individuals who wish to financially support the Congress, and separate fees for foreign participants.
        </p>
        <p>
            The fee includes the participant's kit and access to all programs (unless otherwise indicated in the congress booklet). It <em>does not</em> include lodging, other meals, the excursion, and insurances.
        </p>
        <p>
            The registration fee is strictly <em>non-transferable</em> and <em>non-refundable</em>, regardless of whether the participant fails to attend the Congress through their own volition or due to any other cause, or if the Congress is cancelled or postponed for any reason.
        </p>

        <h4>Cookie Notice</h4>
        <p>
            By clicking "Start Registration", you agree to the storing of cookies on your device to save your partially-accomplished registration details. These cookies will be stored specifically for this purpose and data within it will not be sent to our servers until you submit the form.
        </p>

        <h4>Are you ready?</h4>
        <p>
            If you are ready to register for the congress, please click "Start Registration".
        </p>
        <noscript>
            <div class="card-panel red darken-2">
                <span class="white-text">
                    Oh no! It seems that you have disabled JavaScript or your browser does not support it. Please <a class="yellow-text text-darken-2" href="//enable-javascript.com/" target="_blank">enable</a> it to register.
                </span>
            </div>
        </noscript>
        <div class="center-align">
            <a id="a-start-reg" class="btn-large theme-green waves-effect" href="">${this.localeObj.t('register.buttons.startRegistration')}</a>
        </div>
    </section>

    <section id="section-basic" class="section hide">
        <h3>${this.localeObj.t('register.forms.basic.header')}</h3>
        <p>
            ${this.localeObj.t('register.forms.requiredNotice')}
        </p>
        <div class="row">
            <div class="input-field col s6 l4">
                <input id="txt-last-name" name="txt-last-name" class="validate" type="text" required>
                <label for="txt-last-name">${this.localeObj.t('register.forms.basic.fields.lastName')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.lastName')}"></span>
            </div>
            <div class="input-field col s6 l4">
                <input id="txt-first-name" name="txt-first-name" class="validate" type="text" required>
                <label for="txt-first-name">${this.localeObj.t('register.forms.basic.fields.firstName')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.firstName')}"></span>
            </div>
            <div class="input-field col s12 l4">
                <input id="txt-middle-name" name="txt-middle-name" type="text">
                <label for="txt-middle-name">${this.localeObj.t('register.forms.basic.fields.middleName')}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="txt-nickname" name="txt-nickname" class="validate" type="text" required>
                <label for="txt-nickname">${this.localeObj.t('register.forms.basic.fields.nickName')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.nickName')}"></span>
            </div>
            <div class="input-field col s6 l2">
                <input id="txt-bday" name="txt-bday" class="datepicker validate" type="text" required>
                <label for="txt-bday">${this.localeObj.t('register.forms.basic.fields.birthday')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.birthday')}"></span>
            </div>
            <div class="input-field col s6 l2">
                <select id="select-sex-list" name="select-sex-list" required>
                    <option value="" disabled selected>${this.localeObj.t('register.forms.basic.fields.sex')}</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="unknown">Prefer not to say</option>
                </select>
                <label>${this.localeObj.t('register.forms.basic.fields.sex')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.sex')}"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <select id="select-countries-list" name="select-countries-list" required>
                    <option value="" disabled selected>${this.localeObj.t('register.forms.basic.fields.countryOfOrigin')}</option>
                </select>
                <label>${this.localeObj.t('register.forms.basic.fields.countryOfOrigin')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.countryOfOrigin')}"></span>
            </div>
            <div class="input-field col s12 m6 l4">
                <input id="txt-province" name="txt-province" type="text">
                <label for="txt-province">${this.localeObj.t('register.forms.basic.fields.province')}</label>
            </div>
            <div class="input-field col s12 m6 l4">
                <input id="txt-city" name="txt-city" type="text">
                <label for="txt-city">${this.localeObj.t('register.forms.basic.fields.city')}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="txt-email" class="validate" name="txt-email" type="email" required>
                <label for="txt-email">${this.localeObj.t('register.forms.basic.fields.emailAddress')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.basic.errors.emailAddress')}"></span>
            </div>
            <div class="input-field col s6 m4">
                <input id="txt-mobile" name="txt-mobile" type="tel">
                <label for="txt-mobile">${this.localeObj.t('register.forms.basic.fields.mobile')}</label>
            </div>
            <div class="input-field col s6 m4">
                <input id="txt-sns" name="txt-sns" type="text">
                <label for="txt-sns">${this.localeObj.t('register.forms.basic.fields.sns')}</label>
            </div>
        </div>
    </section>

    <section id="section-reg" class="section hide">
        <h3>${this.localeObj.t('register.forms.register.header')}</h3>
        <p>
            There are different categories for participants
        </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.A')}
        </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.B')}
         </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.C')}
        </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.D')}
        </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.forMinors')}
        </p>
        <p>
            ${this.localeObj.t('register.forms.register.guidelines.addtlGuidelines')}
        </p>

        <input type="hidden" name="hdn-reg-period" value="regular">
        <input type="hidden" name="hdn-reg-fee" value="0">
        <input type="hidden" name="hdn-reg-currency" value="€">
        <input type="hidden" name="hdn-reg-category" value="D">

        <div id="div-reg-ratecard" class="card">
            <div class="card-content theme-green">
                <p class="white-text">
                    ${this.localeObj.t('register.forms.register.countryNotice')}
                </p>
            </div>
            <div class="card-action">${this.localeObj.t('buttons.viewRates')}</div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <h6>${this.localeObj.t('register.forms.register.registerAsText')}</h6>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="regular" checked>
                    <span>${this.localeObj.t('register.forms.register.fields.regularParticipant')}</span>
                </label>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="moral">
                    <span>${this.localeObj.t('register.forms.register.fields.moralParticipant')}</span>
                </label>
            </div>
            <div class="input-field col s12 m4">
                <label>
                    <input class="with-gap" name="rbx-reg-broad" type="radio" value="patron">
                    <span>${this.localeObj.t('register.forms.register.fields.congressPatron')}</span>
                </label>
            </div>
        </div>

        <div id="div-reg-category" class="row">
            <div class="col s12">
                <h6>${this.localeObj.t('register.forms.register.currentOccupationText')}</h6>
            </div>
            <div class="input-field col s12">
                <select id="select-reg-occupation" name="select-reg-occupation" required>
                    <option value="" disabled selected>Occupation*</option>
                    <option value="shs">${this.localeObj.t('register.forms.register.fields.seniorHigh')}</option>
                    <option value="undergrad">${this.localeObj.t('register.forms.register.fields.undergrad')}</option>
                    <option value="grad">${this.localeObj.t('register.forms.register.fields.graduate')}</option>
                    <option value="working">${this.localeObj.t('register.forms.register.fields.working')}</option>
                    <option value="unemployed">${this.localeObj.t('register.forms.register.fields.unemployed')}</option>
                </select>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.register.errors.occupation')}"></span>
            </div>
        </div>

        <div id="div-reg-educ-info" class="row">
            <div class="col s12">
                <h6>${this.localeObj.t('register.forms.register.currentStudyText')}</h6>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-educ" class="validate" name="txt-reg-educ">
                <label for="txt-reg-educ">${this.localeObj.t('register.forms.register.fields.educInsti')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.register.errors.educInsti')}"></span>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-degree" class="validate" name="txt-reg-degree">
                <label for="txt-reg-degree">${this.localeObj.t('register.forms.register.fields.degree')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.register.errors.degree')}"></span>
            </div>
        </div>

        <div id="div-reg-work-info" class="row hide">
            <div class="input-field col s12">
                <h6>${this.localeObj.t('register.forms.register.currentWorkText')}</h6>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-company" class="validate" name="txt-reg-company">
                <label for="txt-reg-company">${this.localeObj.t('register.forms.register.fields.company')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.register.errors.company')}"></span>
            </div>
            <div class="input-field col s12 m6">
                <input type="text" id="txt-reg-position" class="validate" name="txt-reg-position">
                <label for="txt-reg-position">${this.localeObj.t('register.forms.register.fields.position')}</label>
                <span class="helper-text" data-error="${this.localeObj.t('register.forms.register.errors.position')}"></span>
            </div>
        </div>

        <!-- Modal for local rates -->
        <div id="div-modal-ph-rates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>${this.localeObj.t('register.forms.register.regRatesHeader', {localityPlural: this.localeObj.t('register.generalText.localPlural')})}</h4>
                <p class="card-panel theme-red white-text">
                    ${this.localeObj.t('register.forms.register.currencyNotice', {currencyWords: this.localeObj.t('locality.currencyWordsPh')})}
                </p>

                <table>
                    <tr>
                        <th colspan="2">Category</th>
                        <th>${this.localeObj.t('register.generalText.earlyBird')}</th>
                        <th>${this.localeObj.t('register.generalText.regular')}</th>
                        <th>${this.localeObj.t('register.generalText.lateBird')}</th>
                    </tr>
                    <tr>
                        <td>A1</td>
                        <td>${this.localeObj.t('register.regTypes.A1')}</td>
                        <td>1100</td>
                        <td>1300</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>A2</td>
                        <td>${this.localeObj.t('register.regTypes.A2')}</td>
                        <td>1400</td>
                        <td>1600</td>
                        <td>1800</td>
                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>${this.localeObj.t('register.regTypes.B1')}</td>
                        <td>1600</td>
                        <td>1800</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>${this.localeObj.t('register.regTypes.B2')}</td>
                        <td>1800</td>
                        <td>2000</td>
                        <td>2200</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>${this.localeObj.t('register.forms.register.fields.moralParticipant')}</td>
                        <td class="center-align" colspan="3">900</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>${this.localeObj.t('register.forms.register.fields.congressPatron')}</td>
                        <td class="center-align" colspan="3">4500</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat green-text text-darken-2 waves-effect btn-flat">${this.localeObj.t('buttons.close')}</a>
            </div>
        </div>

        <!-- Modal for other rates -->
        <div id="div-modal-foreign-rates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>${this.localeObj.t('register.forms.register.regRatesHeader', {localityPlural: this.localeObj.t('register.generalText.foreignPlural')})}</h4>
                <p class="card-panel theme-red white-text">
                    ${this.localeObj.t('register.forms.register.currencyNotice', {currencyWords: this.localeObj.t('locality.currencyWordsEu')})} ${this.localeObj.t('register.forms.register.forexRateNotice')}
                </p>

                <table>
                    <tr>
                        <th colspan="2">Category</th>
                        <th>${this.localeObj.t('register.generalText.earlyBird')}</th>
                        <th>${this.localeObj.t('register.generalText.regular')}</th>
                        <th>${this.localeObj.t('register.generalText.lateBird')}</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>${this.localeObj.t('register.regTypes.A')}</td>
                        <td>25</td>
                        <td>30</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>B1</td>
                        <td>${this.localeObj.t('register.regTypes.B1')}</td>
                        <td>30</td>
                        <td>35</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>${this.localeObj.t('register.regTypes.B2')}</td>
                        <td>35</td>
                        <td>40</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>${this.localeObj.t('register.forms.register.fields.moralParticipant')}</td>
                        <td class="center-align" colspan="3">18</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>${this.localeObj.t('register.forms.register.fields.congressPatron')}</td>
                        <td class="center-align" colspan="3">88</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat green-text text-darken-2">${this.localeObj.t('buttons.close')}</a>
            </div>
        </div>
    </section>

    <section id="section-lodging" class="section hide">
        <h3>${this.localeObj.t('register.forms.lodging.header')}</h3>
        ${this.localeObj.t('register.forms.lodging.guidelines')}
        
        <p class="card-panel theme-yellow white-text">
            More information on lodging options will be released very soon. The information entered here will be used for surveying purposes.
        </p>

        <div class="row">
            <label class="input-field col s12 m6">
                <input class="filled-in" name="cbx-lodging-interest" type="checkbox">
                <span>${this.localeObj.t('register.forms.lodging.fields.interested')}</span>
            </label>
            <label class="input-field col s12 m6">
                <input class="filled-in" name="cbx-lodging-overstay" type="checkbox">
                <span>${this.localeObj.t('register.forms.lodging.fields.beyondDates')}</span>
            </label>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <h6>I will arrive and leave between the following dates</h6>
            </div>
            <div class="input-field col s12 m6">
                <select id="select-lodging-arrive" name="select-lodging-arrival">
                </select>
                <label>${this.localeObj.t('register.forms.lodging.fields.arrival')}</label>
            </div>
            <div class="input-field col s12 m6">
                <select id="select-lodging-depart" name="select-lodging-depart">
                </select>
                <label>${this.localeObj.t('register.forms.lodging.fields.departure')}</label>
            </div>
        </div>
    </section>

    <section id="section-excursion" class="section hide">
        <h3>${this.localeObj.t('register.forms.excursion.header')}</h3>
        <p>
            An excursion to the City of Manila, is scheduled to be held on <b>Sunday, 26 April, 2020</b>, <b>9:00-18:30</b>. While availing of this activity is not required, the Organizing Committee invites all participants to join.
        </p>
        <p>
            The whole-day excursion to Manila offers a visit to the following places: 
        </p>
        <ul class="browser-default">
            <li>The National Museum of Anthropology</li>
            <li>National Museum of Fine Arts</li>
            <li>Intramuros & Fort Santiago</li>
            <li>Rizal Park</li>
        </ul>
        <p>
            More information about the excursion can be accessed <a target="_blank" href="#!/congress/excursion">here</a>.
        </p>
        <p class="card-panel theme-yellow white-text">
            The excursion will cost P300, which includes transportation, entrance tickets, and snacks throughout the whole trip.
        </p>
        <div class="row">
            <label class="input-field col s12">
                <input class="filled-in" name="cbx-excursion-interest" type="checkbox">
                <span>${this.localeObj.t('register.forms.excursion.fields.interested')}</span>
            </label>
        </div>
    </section>

    <section id="section-food" class="section hide">
        <h3>${this.localeObj.t('register.forms.food.header')}</h3>
        <p>
            ${this.localeObj.t('register.forms.food.dietNotice')}
        </p>
        <div class="row">
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="none" checked>
                <span>${this.localeObj.t('register.forms.food.fields.none')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="vegetarian">
                <span>${this.localeObj.t('register.forms.food.fields.vegetarian')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="vegan">
                <span>${this.localeObj.t('register.forms.food.fields.vegan')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="halal">
                <span>${this.localeObj.t('register.forms.food.fields.kosher')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="kosher">
                <span>${this.localeObj.t('register.forms.food.fields.halal')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="with-gap" name="rbx-food-pref" type="radio" value="other">
                <span>${this.localeObj.t('register.forms.food.fields.other')}</span>
            </label>
        </div>

        <p>
            ${this.localeObj.t('register.forms.food.allergyNotice')}
        </p>
        <div class="row">
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="nuts">
                <span>${this.localeObj.t('register.forms.food.fields.nuts')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="seafood">
                <span>${this.localeObj.t('register.forms.food.fields.seafood')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="wheat">
                <span>${this.localeObj.t('register.forms.food.fields.wheat')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="milk">
                <span>${this.localeObj.t('register.forms.food.fields.milk')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="spicy">
                <span>${this.localeObj.t('register.forms.food.fields.spicy')}</span>
            </label>
            <label class="input-field col s12 m4 l2">
                <input class="filled-in" name="cbx-food-allerg[]" type="checkbox" value="other">
                <span>${this.localeObj.t('register.forms.food.fields.other')}</span>
            </label>
        </div>

        <p>
            ${this.localeObj.t('register.forms.food.alcoholQuestion')}
        </p>
        <div class="row">
            <label class="input-field col s12 m2">
                <input class="with-gap" name="rbx-alcohol-pref" type="radio" value="yes">
                <span>${this.localeObj.t('yes')}</span>
            </label>
            <label class="input-field col s12 m2">
                <input class="with-gap" name="rbx-alcohol-pref" type="radio" value="no" checked>
                <span>${this.localeObj.t('no')}</span>
            </label>
        </div>
    </section>

    <section id="section-others" class="section hide">
        <h4>${this.localeObj.t('register.forms.others.congressPhoto.header')}</h4>
        <p>
            ${this.localeObj.t('register.forms.others.congressPhoto.guidelines')}
        </p>
        <p class="card-panel theme-yellow white-text">
            More information about this will be out soon!
        </p>
        <p>
            <label class="input-field">
                <input class="filled-in" name="cbx-others-photo" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.congressPhoto')}</span>
            </label>
        </p>

        <h4>${this.localeObj.t('register.forms.others.invitLetter.header')}</h4>
        ${this.localeObj.t('register.forms.others.invitLetter.guidelines')}
        <div>
            <label>
                <input class="filled-in" name="cbx-others-invitletter" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.invitLetter')}</span>
            </label>

            <div id="div-others-invitletter-shipinfo" class="row hide">
                <div class="col s12">
                    <h6>${this.localeObj.t('register.forms.others.shipTo')}</h6>
                    <input type="hidden" name="hdn-invitletter-fee" value="0">
                </div>
                <label class="input-field col s12 m6">
                    <input class="with-gap" name="rbx-others-invitletter-shipto" value="local" type="radio">
                    <span>Philippines</span>
                </label>
                <label class="input-field col s12 m6">
                    <input class="with-gap" name="rbx-others-invitletter-shipto" type="radio" value="foreign" checked>
                    <span>Other</span>
                </label>
                <div id="div-card-invitletter-price" class="card-panel col s12 theme-yellow white-text">
                    <p>
                        ${this.localeObj.t('register.forms.others.invitLetterCost')}
                    </p>
                </div>
            </div>
        </div>

        <h4>${this.localeObj.t('register.forms.others.donate.header')}</h4>
        ${this.localeObj.t('register.forms.others.donate.guidelines00')}
        <p>
            <b>${this.localeObj.t('register.forms.others.donate.congressFund')}</b> ${this.localeObj.t('register.forms.others.donate.congressFundDesc')}
        </p>
        <p>
            <b>${this.localeObj.t('register.forms.others.donate.participantFund')}</b> ${this.localeObj.t('register.forms.others.donate.participantFundDesc')}
        </p>
        <p>
            <b>${this.localeObj.t('register.forms.others.donate.associationFund')}</b> ${this.localeObj.t('register.forms.others.donate.associationFundDesc')}
        </p>
        ${this.localeObj.t('register.forms.others.donate.guidelines01')}

        <div id="div-donate-currency" class="card-panel theme-green white-text">
            ${this.localeObj.t('register.forms.others.donateNotice')}
        </div>

        <div class="row">
            <div class="input-field col s12 m4">
                <input id="txt-congress-fund" name="txt-congress-fund" type="number" class="validate">
                <label for="txt-congress-fund">${this.localeObj.t('register.forms.others.donate.congressFund')}</label>
            </div>
            <div class="input-field col s12 m4">
                <input id="txt-participant-fund" name="txt-participant-fund" type="number" class="validate">
                <label for="txt-participant-fund">${this.localeObj.t('register.forms.others.donate.participantFund')}</label>
            </div>
            <div class="input-field col s12 m4">
                <input id="txt-fej-fund" name="txt-fej-fund" type="number" class="validate">
                <label for="txt-fej-fund">${this.localeObj.t('register.forms.others.donate.associationFund')}</label>
            </div>
        </div>
        <label>
            <input class="filled-in" name="cbx-others-donor-name-include" type="checkbox">
            <span>${this.localeObj.t('register.forms.others.donate.anonymous')}</span>
        </label>

        <h4>${this.localeObj.t('register.forms.others.misc')}</h4>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-participant-name-include" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.webList')}</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-contrib" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.program')}</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-volcorp" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.volCorp')}</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-cert" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.fej')}</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-cert" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.cert')}</span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" name="cbx-others-nobooklet" type="checkbox">
                <span>${this.localeObj.t('register.forms.others.fields.bookletExclude')}</span>
            </label>
        </p>
    </section>

    <section id="section-payment" class="section hide">
        <h3>${this.localeObj.t('register.forms.payment.header')}</h3>
        <p class="card-panel theme-red white-text">
            ${this.localeObj.t('register.forms.payment.downpayNotice')}
        </p>
        <div id="div-panel-reg-date-notice" class="card">
            <div class="card-content theme-green white-text">
                <span class="card-title">${this.localeObj.t('register.generalText.regular')}</span>
                <p>
                    ${this.localeObj.t('register.forms.payment.registerNotice')}
                </p>
            </div>
            <div class="card-action">
                <a href="#div-modal-reg-dates" class="btn-flat green-text text-darken-2 modal-trigger">${this.localeObj.t('buttons.viewDates')}</a>
            </div>
        </div>

        <div class="row">
            <div id="div-card-payment-details" class="col s12 m5 card">
                <div class="card-content">
                    <span class="card-title">${this.localeObj.t('register.forms.payment.details')}</span>
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col s12 offset-m1 m6">
                <h5>${this.localeObj.t('register.forms.payment.payVia')}</h5>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="bank" checked>
                        <span>${this.localeObj.t('register.forms.payment.fields.bankAccount')}</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="wire">
                        <span>${this.localeObj.t('register.forms.payment.fields.onlineBank')}</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="paypal">
                        <span>${this.localeObj.t('register.forms.payment.fields.paypal')}</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="card">
                        <span>${this.localeObj.t('register.forms.payment.fields.creditCard')}</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="rbx-payment-method" type="radio" value="wire">
                        <span>${this.localeObj.t('register.forms.payment.fields.remittance')}</span>
                    </label>
                </p>
                <div id="div-payment-paypal" class="hide"></div>
            </div>
        </div>

        <h3>${this.localeObj.t('register.forms.certification.header')}</h3>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-true" required>
                <span>${this.localeObj.t('register.forms.certification.accuracy')}</span>
                <span class="helper-text" data-error="Please attest the veracity of your input"></span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-privacy" required>
                <span>${this.localeObj.t('register.forms.certification.privacy')}</span>
                <span class="helper-text" data-error="Please consent to our privacy policy"></span>
            </label>
        </p>
        <p>
            <label>
                <input class="filled-in" type="checkbox" name="cbx-attest-publicity" required>
                <span>${this.localeObj.t('register.forms.certification.publicity')}</span>
                <span class="helper-text" data-error="Please consent to publicity rights"></span>
            </label>
        </p>

        <!-- Modal for registration dates -->
        <div id="div-modal-reg-dates" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>${this.localeObj.t('register.forms.payment.registerDates')}</h4>
                <p class="card-panel red darken-2 white-text">
                    ${this.localeObj.t('register.generalText.timeNotice')}
                </p>
                <table>
                    <tr>
                        <th></th>
                        <th>${this.localeObj.t('register.forms.payment.startDate')}</th>
                        <th>${this.localeObj.t('register.forms.payment.endDate')}</th>
                    </tr>
                    <tr>
                        <td>${this.localeObj.t('register.generalText.earlyBird')}</td>
                        <td>25 November, 2020</td>
                        <td>31 December, 2019</td>
                    </tr>
                    <tr>
                        <td>${this.localeObj.t('register.generalText.regular')}</td>
                        <td>01 Jan, 2020</td>
                        <td>23 March, 2020</td>
                    </tr>
                    <tr>
                        <td>${this.localeObj.t('register.generalText.lateBird')}</td>
                        <td>24 March, 2020</td>
                        <td>22 April, 2020</td>
                    </tr>
                    <tr>
                        <td>${this.localeObj.t('register.generalText.onSite')}</td>
                        <td>23 April, 2020</td>
                        <td>25 April, 2020</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat">${this.localeObj.t('buttons.close')}</a>
            </div>
        </div>
    </section>

    <section id="section-thanks" class="section hide">
        <h3 class="center-align">${this.localeObj.t('register.thanks.header')}</h3>
        <div class="row">
            <div class="col s12 m5 card-panel theme-yellow white-text">
                <h5>${this.localeObj.t('register.thanks.refNums.header')}</h5>
                <p>
                    ${this.localeObj.t('register.thanks.refNums.par00')}
                </p>
                <hr class="white-text">
                <p>
                    <b>${this.localeObj.t('register.thanks.refNums.regId')}</b><br>
                    <span id="span-register-id"></span>
                </p>
                <p>
                    <b>${this.localeObj.t('register.thanks.refNums.paymentId')}</b><br>
                    <span id="span-payment-id"></span>
                </p>
            </div>
            <div class="col s12 offset-m1 m6">
                <p>
                    ${this.localeObj.t('register.thanks.par00')}
                </p>
                <p>
                    ${this.localeObj.t('register.thanks.par01')}
                </p>
            </div>
        </div>
        <div class="center-align">
            <button id="btn-register-again" class="btn btn-large waves-effect waves-light theme-green"><i class="material-icons left">autorenew</i>${this.localeObj.t('register.buttons.registerAgain')}</button>
        </div>
    </section>

    <section id="section-nav-buttons" class="section hide center-align">
        <button id="btn-prev" class="btn btn-large waves-effect waves-light theme-green" disabled><i class="material-icons left">navigate_before</i>${this.localeObj.t('buttons.back')}</button>
        <button id="btn-next" class="btn btn-large waves-effect waves-light theme-green">${this.localeObj.t('buttons.next')}<i class="material-icons right">navigate_next</i></button>
    </section>
</form>
