<!DOCTYPE html>
<html>
    <head>
        <title>Members' Nook | UP Esperanto-Societo</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Official website of the University of the Philippines Esperanto-Societo">

        <link rel="shortcut icon" href="favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/picnic">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            body {
                font-family: 'Noto Sans', sans-serif;
            }

            .center-text {
                text-align: center;
            }

            /* Navbar */
            nav {
                background-color: #679267;
            }

            nav a.brand {
                color: white;
            }

            nav .menu a.button {
                color: white;
            }

            /* Main content */
            main {
                margin: 0 15%;
                margin-top: 3em;
                border: 1px solid red;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="#" class="brand">
                <img alt="logo" class="logo" src="favicon.png">
                Members' Nook
            </a>

            <input id="burger-nav-cbx" type="checkbox" class="show">
            <label for="burger-nav-cbx" class="burger pseudo button">&#8801;</label>

            <div class="menu">
                <a href="profile.php" class="pseudo button">Saluton, Carl!</a>
                <a href="settings.php" class="pseudo button">Settings</a>
                <a href="logout.php" class="pseudo button">Logout</a>
            </div>
        </nav>
        <main id="main-content container">
            <h3>Announcements</h3>

            <h4>1st General Assembly</h4>
            <p>
                The first general assembly for the 1st Semester AY 2019-2020
                will be tentatively held on Thursday, August 8, 2019 at the
                temporary tambayan. All renewing members are required to go to
                the GA to sign the OSA membership forms.
            </p>

            <h4>Joint Meeting of AY 2018 and AY 2019 Estraro</h4>
            <p>
                There will be a joint meeting of 
            </p>

            <h3>Your Apps</h3>
            <div class="flex three">
                <div>
                    <article class="card">
                        Scheduler
                    </article>
                </div>
                <div>
                    <article class="card">
                        SMS Blaster
                    </article>
                </div>
            </div>
        </main>
        <script>
        </script>
    </body>
</html>