.datepicker-date-display {
    background-color: #00612c;

}

.datepicker-table td.is-today {
    color: #00612c;
    font-weight: bold;
}

.datepicker-cancel, .datepicker-done {
    color: #00612c;
}