<section id="section-lkk" class="section scrollspy">
    <h3>Local Organizing Committee</h3>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="Albert Garrido" width="200" src="${require('../../img/profile/p1_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">Albert Garrido</h5>
            <div class="chip yellow darken-1">Organizing Committee President</div>
            <div class="chip yellow darken-1">Director for Volunteer Staff</div>
            <p>
                Albert started learning Esperanto in March 2013 and soon afterwards started to get
                involved in the Esperanto movement in the local and international level. He is
                currently the Coordinator of Asia of the World Esperanto Youth Organization (TEJO),
                and has attended a few international Esperanto conventions in some countries in Asia.
                He also has a bachelor’s degree in Geography and wrote his undergraduate thesis
                examining the state of the Asian Esperanto movement.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="Carl Dizon" width="200" src="${require('../../img/profile/p2_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">Carl Dizon</h5>
            <div class="chip yellow darken-1">Director for Registration</div>
            <p>
                Carl is the incumbent president of UP Esperanto-Societo, the first and
                only university-based Esperanto organization in the country. He is currently
                the head researcher of an e-trike study and is taking his Masters
                in Electrical Engineering at the University of the Philippines.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="Jubert Cabrezos" width="200" src="${require('../../img/profile/p3_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">Jubert Cabrezos</h5>
            <div class="chip yellow darken-1">Director for Information and Publicity</div>
            <p>
                Jubert is a poet, artist, and Esperantist from Medina, Misamis Oriental.
                He earned his Bachelor of Arts degree in Communication Arts at the Philippine
                Women’s University. He worked in the National Secretariat of the College Editors
                Guild of the Philippines for over 3 years. He currently lives in North Caloocan
                with his family.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="Elizabeth Lavadia" width="200" src="${require('../../img/profile/p4_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">Elizabeth Lavadia</h5>
            <div class="chip yellow darken-1">Director for External Relations</div>
            <p>
                Elizabeth is an instructor for the Italian language at the University
                of the Philippines, Diliman. She took a C2 level short course on the Italian
                Language and Culture at Università per Stranieri di Siena from April to June 2019.
                She graduated Magna cum Laude in 2018 and has a Bachelor of Arts degree in European
                Languages from the University of the Philippines, Diliman.
            </p>
        </div>
    </div>
</section>