<section id="section-intro" class="section">
    <h3><i>Saluton!</i></h3>
    <p>
        For the first time in the history of the movement of speakers, learners, and advocates of the international language Esperanto in the country, the 1st Philippine Esperanto Youth Congress will be held in University of the Philippines Diliman, Quezon City, on April 23-26, 2020. 
    </p>
    <p>
        This historic congress shall mark the culmination of seven years of effort of Esperanto advocates in the country and the forward step towards further growth and integration of the national Esperanto community, and shall provide speakers, learners, and advocates coming from different parts of the country the opportunity to interact, learn, and work together in a series of social and educational activities.
    </p>
    <p>
        As Filipino Esperantists have never convened on a national scale since the movement was established in 2013, this Congress will be the first appropriate opportunity to consolidate the Esperanto movement in the Philippines and bring them together from all regions of the country. This will be avenues for people coming from diverse fields of interests and expertise, to freely socialize and exchange information and opinions on a wide range of topics. Most importantly, lasting initiatives for the local Esperanto movement may also be born here.
    </p>
    <p>
        The Congress is a highly anticipated event in the international Esperanto community. Hailed as one of the "rising stars" of the Asian Esperanto movement, the Esperanto community in the country is closely observed by key advocates across the world. Therefore, as a concrete manifestation of the movement’s progress, the Congress is expected to draw the attendance of speakers and advocates of the language from other countries, most of which also aim to visit the country for tourism and get to know the members of the local community for the first time. The presence of international guests would provide a truly international experience for Filipinos and open unprecedented ways for them to create new networks, without having to leave the country. Most importantly, this would amplify the magnitude and importance of the event, as this would also create revenues and tourism in the vicinity of the venue.
    </p>
    <p>
        Lastly, the Congress shall become an impetus towards a wider public and institutional knowledge and recognition of Esperanto as a living language for communication in everyday life, eventually drawing the interest of many people from different walks of life to learn it and benefit from its many advantages.
    </p>
</section>

<section id="section-why-congress" class="section scrollspy">
    <h3>Why Hold a Congress?</h3>
    <p>
        The Congress, a major milestone for the local Esperanto movement, is actually
        highly anticipated in the international Esperanto community. Already long overdue,
        it is expected to draw the attendance of speakers and advocates of the language
        from other countries, most of which aim to tour the country and get to know with
        members of the local Esperanto community, providing a truly international experience
        for Filipinos without leaving the country.
    </p>
    <p>
        This Congress will also be the most appropriate opportunity to consolidate the
        Esperanto movement in the Philippines and bring together local speakers and advocates
        from all regions of the country. This will be avenues for everyone, coming from diverse
        fields of interests and expertise, to freely socialize and exchange information and
        opinions on a wide range of topics. Most important, lasting initiatives for the local
        Esperanto movement may also be born here.
    </p>
    <p>
        Furthermore, if successfully organized, the Congress shall be an impetus towards a
        wider public and institutional knowledge and recognition of Esperanto as a living
        language for egalitarian interethnic communication, eventually drawing the interest
        of many people from different walks of life to learn the language and be part of the
        national Esperanto community.
    </p>
</section>