<section id="section-intro" class="section row">
    <h3><i>Saluton!</i></h3>
    <div class="row">
        <div class="col s12 m4 center-align">
            <img class="responsive-img" alt="Call for Organizers Poster" width="256" src="${require('../../img/organizer_call.png')}">
        </div>
        <div class="col s12 m8">
            <p>
                Philippine Esperanto Youth or <em>Filipina Esperanto-Junularo</em>, officially abbreviated as FEJ, is a non-profit national organization of speakers, learners, and advocates of the international language Esperanto in the Philippines. It was founded in Valenzuela City, Metro Manila on September 19, 2013, and is the first-ever Esperanto youth organization in the country.
            </p>
        </div>
    </div>
</section>
<section id="section-desc" class="section">
    <p>
        FEJ is currently full member of the World Esperanto Youth Organization (TEJO) since 2017 and has had working relations with the World Esperanto Association (UEA). As of the end of 2018, it has had 70 members across Luzon, Visayas, and Mindanao. 
    </p>
    <p>
        As the national Esperanto organization and the only of its kind in the country, FEJ aims to continuously propagate knowledge and use of Esperanto among Filipinos, particularly the youth (aged 35 and below), and provide opportunities for those who speak and learn the language to further cultivate their proficiency and deepen their understanding of the history, community, and culture of Esperanto through various activities. Additionally, it also acts as a liaison to connect young Filipino esperantists to those from other countries. It organizes orientations, study sessions, and occasional interactions whenever foreign Esperantists visit the country.
    </p>
</section>