<section id="section-lkk" class="section scrollspy">
    <h3>${this.localeObj.t('aboutLkk.title')}</h3>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="${this.localeObj.t('aboutLkk.lkk00.name')}" width="200" src="${require('../../img/profile/p1_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">${this.localeObj.t('aboutLkk.lkk00.name')}</h5>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.lkk')}</div>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.volCorp')}</div>
            <p>
                ${this.localeObj.t('aboutLkk.lkk00.desc')}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="${this.localeObj.t('aboutLkk.lkk01.name')}" width="200" src="${require('../../img/profile/p2_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">${this.localeObj.t('aboutLkk.lkk01.name')}</h5>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.reg')}</div>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.website')}</div>
            <p>
                ${this.localeObj.t('aboutLkk.lkk01.desc')}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="${this.localeObj.t('aboutLkk.lkk02.name')}" width="200" src="${require('../../img/profile/p3_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">${this.localeObj.t('aboutLkk.lkk02.name')}</h5>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.info')}</div>
            <p>
                ${this.localeObj.t('aboutLkk.lkk02.desc')}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img circle" alt="${this.localeObj.t('aboutLkk.lkk03.name')}" width="200" src="${require('../../img/profile/p4_profile.jpg')}">
        </div>
        <div class="col s12 m9">
            <h5 class="promo-header">${this.localeObj.t('aboutLkk.lkk03.name')}</h5>
            <div class="chip yellow darken-1">${this.localeObj.t('aboutLkk.directors.externals')}</div>
            <p>
                ${this.localeObj.t('aboutLkk.lkk03.desc')}
            </p>
        </div>
    </div>
</section>