<section id="section-intro" class="section">
    <h3>${this.localeObj.t('aboutLogo.mainHeader')}</h3>
    <div class="center-align">
        <img alt="${this.localeObj.t('aboutLogo.logoAlt')}" width="256" src="../../img/logo_large.png">
    </div>
    <p>
        ${this.localeObj.t('aboutLogo.mainPar')}
    </p>
</section>
<section id="section-desc" class="section">
    <h3>${this.localeObj.t('aboutLogo.inspirationHeader')}</h3>
    <p>
        ${this.localeObj.t('aboutLogo.inspirationPars.par00')}
    </p>
    <p>
        ${this.localeObj.t('aboutLogo.inspirationPars.par01')}
    </p>
    <p>
        ${this.localeObj.t('aboutLogo.inspirationPars.par02')}
    </p>
</section>