<section id="section-intro" class="section">
    <h3>${this.localeObj.t('aboutEo.pars.title')}</h3>
    <div class="row">
        <div class="col s12 m4 center-align">
            <img class="responsive-img" alt="L.L. Zamenhof" width="256" src="${require('../../img/splash/zamenhof_portrait.jpg')}">
        </div>
        <div class="col s12 m8">
            <p>
                ${this.localeObj.t('aboutEo.pars.par00')}
            </p>
            <p>
                ${this.localeObj.t('aboutEo.pars.par01')}
            </p>
        </div>
    </div>
</section>
<section id="section-desc" class="section">
    <p>
        ${this.localeObj.t('aboutEo.pars.par02')}
    </p>
    <p>
        ${this.localeObj.t('aboutEo.pars.par03')}
    </p>
    <p>
        ${this.localeObj.t('aboutEo.pars.par04')}
    </p>
</section>