<section class="section">
    <h3>${this.localeObj.t('copyright.basic.title')}</h3>
    <p>
        ${this.localeObj.t('copyright.basic.pars')}
    </p>
</section>

<section id="section-hero" class="section">
    <h3>${this.localeObj.t('copyright.hero.title')}</h3>
    <p>
        ${this.localeObj.t('copyright.hero.pars')}
    </p>
    <ul></ul>
</section>

<section id="section-excursion" class="section">
    <h3>${this.localeObj.t('copyright.excursion.title')}</h3>
    <p>
        ${this.localeObj.t('copyright.excursion.pars')}
    </p>
    <ul></ul>
</section>