<section id="section-intro" class="section">
    <h3>${this.localeObj.t('privacy.mainHeader.title')}</h3>
    <p>
        ${this.localeObj.t('privacy.mainHeader.par00')}
    </p>
</section>
<section id="section-collection" class="section">
    <h3>${this.localeObj.t('privacy.collection.title')}</h3>
    <p>
            ${this.localeObj.t('privacy.collection.par00')}
    </p>

    <ul class="browser-default">
        <li>${this.localeObj.t('privacy.collection.list00')}</li>
        <li>${this.localeObj.t('privacy.collection.list01')}</li>
        <li>${this.localeObj.t('privacy.collection.list02')}</li>
        <li>${this.localeObj.t('privacy.collection.list03')}</li>
        <li>${this.localeObj.t('privacy.collection.list04')}</li>
    </ul>

    <p>
        ${this.localeObj.t('privacy.collection.par01')}
    </p>
</section>
<section id="section-reason" class="section">
    <h3>${this.localeObj.t('privacy.usage.title')}</h3>
    <p>
        ${this.localeObj.t('privacy.usage.par00')}
    </p>
    <ul class="browser-default">
        <li>${this.localeObj.t('privacy.usage.list00')}</li>
        <li>${this.localeObj.t('privacy.usage.list01')}</li>
        <li>${this.localeObj.t('privacy.usage.list02')}</li>
    </ul>
</section>
<section id="section-retention" class="section">
    <h3>${this.localeObj.t('privacy.retention.title')}</h3>
    <p>
        ${this.localeObj.t('privacy.retention.par00')}
    </p>
</section>