<section id="section-intro" class="section">
    <h3>Privacy Notice</h3>
    <p>
        In conformance to existing data privacy laws, such as the General Data Protection Regulation (GDPR) of the European Union and the Data Privacy Act of 2012 (RA 10173) of the Philippines, the Organizing Committee of the 1st FJK (henceforth referred to as "we" or "us") is required to obtain your consent to receive and process some personal and other pertinent information in conjunction with any agreement that you may intiate with us, including but not limited to 1) registration for the congress, 2) application to the Volunteer Staff, and 3) application as part of the Congress Organizing Committee.
    </p>
</section>
<section id="section-collection" class="section">
    <h3>Which data are we collecting?</h3>
    <p>
        We will specifically collect the following personal information:
    </p>

    <ul class="browser-default">
        <li>Full name and nickname</li>
        <li>Birthday</li>
        <li>Region and country of residence</li>
        <li>Current educational background or profession</li>
        <li>Contact details, such as your email address, and optionally any and all of the following: social media account handles, phone number, and instant messaging handles</li>
    </ul>

    <p>
        We will also be collecting some information about your Esperanto language level, experiences with the Esperanto community, free times, and experiences you may have had that best fits the committee you want to be a part of.
    </p>
</section>
<section id="section-reason" class="section">
    <h3>How will we use your data?</h3>
    <p>
        The data will be used for the following reasons:
    </p>
    <ul class="browser-default">
        <li>Contact you regarding the status of your application, news about upcoming Volunteer Staff meetings and orientations, and about the Congress itself</li>
        <li>Screen the applications and sort memberships accordingly</li>
        <li>Collect statistics on the number of potential candidates that are acquainted with Esperanto, level of participation to Esperanto events, and zealousness of the people to learn it</li>
    </ul>
</section>
<section id="section-retention" class="section">
    <h3>Until when will we save your data?</h3>
    <p>
        We will save your data until the Organizing Committee completes its report on the Congress, which shall start only after the Congress has concluded. If you want to revoke your consent earlier than that date, please send us a message and we will immediately process it.
    </p>
</section>