.main-number span:first-of-type {
    font-size: 8em;
    display: block;
    line-height: 1em;
}

.main-number span:nth-of-type(2) {
    font-size: 2em;
}

.sub-number span:first-of-type {
    font-size: 5em;
    display: block;
}

.sub-number span:nth-of-type(2) {
    font-size: 1.5em;
}