<section class="section">
    <h3>${this.localeObj.t('donate.mainHeader.title')}</h3>
    ${this.localeObj.t('donate.mainHeader.desc')}
</section>

<section class="section">
    <article>
        <h5>${this.localeObj.t('donate.congressFund.title')}</h5>
        ${this.localeObj.t('donate.congressFund.desc')}
    </article>
    <article>
        <h5>${this.localeObj.t('donate.participantFund.title')}</h5>
        ${this.localeObj.t('donate.participantFund.desc')}
    </article>
    <article>
        <h5>${this.localeObj.t('donate.fejFund.title')}</h5>
        ${this.localeObj.t('donate.fejFund.desc')}
    </article>
</section>

<section id="section-donation-options" class="section">
    <h3>${this.localeObj.t('donate.donationOptions.title')}</h3>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img alt="${this.localeObj.t('donate.donationOptions.payPal.title')}" src="${require('../img/splash/paypal_splash.jpg')}">
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('donate.donationOptions.payPal.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="ZEGNAE7L6ESB6" />
                        <button class="waves-effect waves-green green-text text-darken-4 btn-flat">${this.localeObj.t('donate.buttons.donate')}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img alt="${this.localeObj.t('donate.donationOptions.goGetFunding.title')}" src="${require('../img/splash/ggf_splash.jpg')}">
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('donate.donationOptions.goGetFunding.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-green green-text text-darken-4 btn-flat" target="_blank" href="https://gogetfunding.com/help-make-the-1st-philippine-esperanto-youth-congress-happen/">${this.localeObj.t('donate.buttons.donate')}</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img alt="${this.localeObj.t('donate.donationOptions.uea.title')}" src="${require('../img/splash/co_splash.jpg')}">
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('donate.donationOptions.uea.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-green green-text text-darken-4 btn-flat" target="_blank" href="https://uea.org/alighoj/spagilo">${this.localeObj.t('donate.buttons.donate')}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img alt="${this.localeObj.t('donate.donationOptions.others.title')}" src="${require('../img/splash/eo_books_flower.jpg')}">
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('donate.donationOptions.others.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <a href="mailto:peyc2020@gmail.com" class="waves-effect waves-green green-text text-darken-4 btn-flat">${this.localeObj.t('donate.buttons.contactUs')}</a>
                </div>
            </div>
        </div>
    </div>
</section>