<div class="footer-main container">
    <div class="row">
        <div class="col s12 m8 black-text">
            <h5>${this.localeObj.t('footer.contact')}</h5>
            <div class="row">
                <div class="col s1">
                    <i class="material-icons">email</i>
                </div>
                <div class="col s8">
                    <a href="mailto:peyc2020@gmail.com" target="_blank">
                        peyc<span class="hide">you</span>2020<span class="hide">have</span>@<span class="hide">been</span>gmail<span class="hide">pwned</span>.<span class="hide">here</span>com
                    </a>
                    <br>
                    <a href="mailto:esperanto.philippines@gmail.com" target="_blank">
                        esper<span class="hide">saluton</span>anto<span class="hide">kiel</span>.<span class="hide">vi</span>philippines<span class="hide">fartas</span>@<span class="hide">bone</span>gmail<span class="hide">koran</span>.<span class="hide">dankon</span>com
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="material-icons">phone</i>
                </div>
                <div class="col s8">
                    <a href="tel:+639982491891">
                        +63<span class="hide">908</span>
                        998<span class="hide">1241<br>+63 919</span>
                        249<span class="hide">1640<br>+63 908</span>
                        1891<span class="hide">110</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="socicon socicon-facebook"></i>
                </div>
                <div class="col s8">
                    <a href="https://facebook.com/fjkesperanto" target="_blank">/fjkesperanto</a>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="socicon socicon-twitter"></i>
                </div>
                <div class="col s8">
                    <a href="https://twitter.com/fjkesperanto" target="_blank">@fjkesperanto</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">

        </div>
    </div>
</div>
<div class="footer-copyright theme-green">
    <div class="container grey-text text-lighten-5">
        &copy; 2019 ${this.localeObj.t('defaultTitle')}
    </div>
</div>