<section id="section-urgent-news" class="section scrollspy">
    <article class="card-panel theme-red white-text">
        <h2>${this.localeObj.t('urgentAdvisory.covid19.header')}</h2>
        <p>${this.localeObj.t('urgentAdvisory.covid19.desc')}</p>
    </article>
</section>

<section id="section-about" class="section scrollspy">
    <h3>${this.localeObj.t('index.about.title')}</h3>
    <div class="center-align">
        <img class="responsive-img" id="img-announce" alt="Announcement image">
    </div>

    ${this.localeObj.t('index.about.desc')}
</section>
<section id="section-orgs" class="section scrollspy">
    <h3>${this.localeObj.t('index.sponsors.header')}</h3>

    <h4>${this.localeObj.t('index.sponsors.organizers')}</h4>
    <div class="row">
        <div class="col s12 m6 center-align">
            <div><img alt="FEJ logo" src="${require('../img/sponsors/logo_fej.png')}" width="100"></div>
            <span class="promo-header">Philippine Esperanto Youth</span>
        </div>
        <div class="col s12 m6 center-align">
            <div><img alt="UP Esperas logo" src="${require('../img/sponsors/logo_esperas.png')}" width="100"></div>
            <span class="promo-header">UP Esperanto-Societo</span>
        </div>
    </div>
</section>

<section id="section-how-to-help" class="section scrollspy">
    <h3>${this.localeObj.t('index.help.header')}</h3>
    <p>
        ${this.localeObj.t('index.help.desc')}
    </p>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="${require('../img/splash/eo_books_flower.jpg')}">
                    <span class="card-title">${this.localeObj.t('index.help.volunteer.title')}</span>
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('index.help.volunteer.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <a href="#!/volunteer" class="green-text text-darken-4">${this.localeObj.t('index.help.howToApply')}</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="${require('../img/splash/donate_unsplash.jpg')}">
                    <span class="card-title">${this.localeObj.t('index.help.donate.title')}</span>
                </div>
                <div class="card-content">
                    <p>
                        ${this.localeObj.t('index.help.donate.desc')}
                    </p>
                </div>
                <div class="card-action">
                    <a href="#!/donate" class="green-text text-darken-4">${this.localeObj.t('index.help.helpUs')}</a>
                </div>
            </div>
        </div>
    </div>
</section>