<section id="section-intro" class="section">
    <h3>${this.localeObj.t('infoExcursion.intro.title')}</h3>
    <p>
        ${this.localeObj.t('infoExcursion.intro.pars00')}
    </p>
</section>
<section id="section-itinerary" class="section">
    <h3>${this.localeObj.t('infoExcursion.itinerary.title')}</h3>
    <div class="row">
        <table class="col s12 l4 offset-l4">
            <thead>
                <tr>
                    <th>${this.localeObj.t('infoExcursion.itinerary.time')}</th>
                    <th>${this.localeObj.t('infoExcursion.itinerary.event')}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.00')}</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.01')}</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.02')}</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.03')}</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.04')}</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.05')}</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>${this.localeObj.t('infoExcursion.itinerary.timetable.06')}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>