<section>
    <article>
        <h3>Introduction</h3>
        <p>
            The registration fee is important to defray the expenses necessary to implement essential elements of the Congress, including but not limited to the venue, materials, equipment, processing fees, etc.
        </p>
        <p>
            The applicable registration fee depends on three main factors: the individual’s age at the time of registration, the individual’s country of origin, and the period in which registration and payment are made (see table below). Individuals who register early can avail of discounted fees. There is also a separate category for individuals who wish to financially support the Congress, and separate fees for foreign participants.
        </p>
        <p>
            The fee includes the participant’s kit and access to all programs (unless otherwise indicated in the congress booklet). It does not include lodging, other meals, the excursion, and insurances. Refer to separate sections for lodging and the excursion.
        </p>
        <p>
            The registration fee is strictly <b>non-transferable</b> and <b>non-refundable</b>, regardless of whether the participant fails to attend the Congress through their own volition or due to any other cause, or if the Congress is cancelled or postponed for any reason.
        </p>
        <p>
            <b>IMPORTANT</b>: Registration is only valid and the individual is registered into the official list of participants once <b>at least fifty percent (50%) partial payment or more</b> is received by the Organizing Committee.
        </p>
    </article>

    <article>
        <h3>Who can join?</h3>
        <p>
            Participation is open to any person of any age, Philippine or foreign national, who has at least a basic command of Esperanto and is interested to learn more of the language and its community and culture, participate in the activities of the congress, and actively interact with other participants.
        </p>
        <p>
            The Organizing Committee reserves the right to deny or cancel the registration of any individual whom they find, with sufficient proof, inclined to cause any substantial risk to safety and security during the congress.
        </p>
    </article>
</section>

<section>
    <h3>Registration Periods</h3>
    <p>
        Registration for the congress is divided into three (3) periods, which will affect the rates of registration fees, availability of services, etc. Please refer to the table below:
    </p>

    <div class="row">
        <table class="col s12 l6 offset-l3">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Early</td>
                    <td>28 December, 2019</td>
                    <td>27 January, 2020</td>
                </tr>
                <tr>
                    <td>Regular</td>
                    <td>28 January, 2020</td>
                    <td>23 March, 2020</td>
                </tr>
                <tr>
                    <td>Late</td>
                    <td>24 March, 2020</td>
                    <td>22 April, 2020</td>
                </tr>
                <tr>
                    <td>On-site</td>
                    <td>23 April, 2020</td>
                    <td>25 April, 2020</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section>
    <h3>Participant Categories</h3>
    <p>
        There are different categories for participants:
    </p>
    <p>
        <b>A: Undergraduate Students and Below</b> - Individuals in undergraduate (college) level, high school (junior and senior), vocational schools, and below at the time of registration. It is subdivided into two subcategories (applicable only for Filipino participants):
    </p>
    <p>
        <b>B: Workers, Graduate Students, or Equivalent</b> - Individuals who have completed their undergraduate studies or its equivalent at the time of registration. It includes those who work or practice a profession, graduate-level students (master’s degree/Ph.D./Medicine/Law), and self-employed and unemployed individuals. It is further subdivided into two subcategories:
    </p>
    <p>
        <b>C: Moral Participants</b> - Individuals who will not participate in the congress itself, but want to support the congress financially. The fee is half (50%) of the regular period registration fee of category B.1 (for both Filipino and foreign participants). They shall be given due acknowledgment in the congress booklet.
    </p>
    <p>
        <b>D: Congress Patrons</b> - Individuals who want to additionally support the congress financially, besides joining the congress, by paying larger than the normal rates. The fee is fixed as 250% of the Regular Period registration fee of Category B1. Congress Patrons may choose to participate physically or not, and will receive separate acknowledgment in the Congress Booklet and other related materials, as well as a special gift from the Organizing Committee.
    </p>
    <p>
        Participants aged below 12 years old and accompanied by their parents/guardians can join the congress <em>free of charge</em>, however they will not be provided their own Congress Kit (except for name tags) and must pay additional fees if they avail of lodging, the excursion, and meals.
    </p>
</section>

<section>
    <h3>Walk-in Registration</h3>
    <p>
        The Organizing Committee encourages everyone to register online so that it can properly anticipate the number of participants. There will also be a walk-in registration during the congress, but there will be a penalty fee of <b>PHP 200.00 (for Filipinos)</b> or <b>EUR 5.00 (for foreign participants)</b> on the top of the corresponding fees in effect under the Late Registration Period.
    </p>
</section>

<section>
    <h3>Schedule of Congress Registration Fees</h3>

    <article>
        <h5>Filipino Participants</h5>
        <div class="row">
            <table class="col s12 l8 offset-l2">
                <thead>
                    <tr>
                        <th rowspan="2">Category</th>
                        <th class="center-align" colspan="3">Registration Fees (in PHP)</th class="center-align">
                    </tr>
                    <tr>
                        <th class="center-align">Early</th class="center-align">
                        <th class="center-align">Regular</th class="center-align">
                        <th class="center-align">Late</th class="center-align">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>A1:</b> High school students (12 years and above) special discount!
                        </td>
                        <td class="center-align">1100</td class="center-align">
                        <td class="center-align">1300</td class="center-align">
                        <td class="center-align">1500</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>A2:</b> Undergraduate students or equivalent
                        </td>
                        <td class="center-align">1400</td class="center-align">
                        <td class="center-align">1600</td class="center-align">
                        <td class="center-align">1800</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>B1:</b> Workers, graduate students, etc. (up to 35 years old)
                        </td>
                        <td class="center-align">1600</td class="center-align">
                        <td class="center-align">1800</td class="center-align">
                        <td class="center-align">2000</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>B2:</b> Workers, graduate students, etc. (36 years old & above)
                        </td>
                        <td class="center-align">1800</td class="center-align">
                        <td class="center-align">2000</td class="center-align">
                        <td class="center-align">2200</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>C:</b> Moral Participants
                        </td>
                        <td class="center-align" colspan="3">900</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>D:</b> Congress Patrons
                        </td>
                        <td class="center-align" colspan="3">4500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
    <article>
        <h5>Foreign Participants</h5>
        <div class="row">
            <table class="col s12 l8 offset-l2">
                <thead>
                    <tr>
                        <th rowspan="2">Category</th>
                        <th class="center-align" colspan="3">Registration Fees (in EUR)</th class="center-align">
                    </tr>
                    <tr>
                        <th class="center-align">Early</th class="center-align">
                        <th class="center-align">Regular</th class="center-align">
                        <th class="center-align">Late</th class="center-align">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>A:</b> Undergraduate students and below
                        </td>
                        <td class="center-align">25</td class="center-align">
                        <td class="center-align">30</td class="center-align">
                        <td class="center-align">35</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>B1:</b> Workers, graduate students, etc. (up to 35 years old)
                        </td>
                        <td class="center-align">30</td class="center-align">
                        <td class="center-align">35</td class="center-align">
                        <td class="center-align">40</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>B2:</b> Workers, graduate students, etc. (36 years old & above)
                        </td>
                        <td class="center-align">35</td class="center-align">
                        <td class="center-align">40</td class="center-align">
                        <td class="center-align">45</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>C:</b> Moral Participants
                        </td>
                        <td class="center-align" colspan="3">18</td class="center-align">
                    </tr>
                    <tr>
                        <td>
                            <b>D:</b> Congress Patrons
                        </td>
                        <td class="center-align" colspan="3">88</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>