<section id="section-intro" class="section">
    <h3>${this.localeObj.t('volunteer.mainHeader.title')}</h3>

    <div class="row">
        <div class="col s12 m4 center-align">
            <img class="responsive-img" alt="${this.localeObj.t('volunteer.volCorpPoster')}" width="256" src="${require('../../img/volunteer_call.jpg')}">
        </div>
        <div class="col s12 m8">
            <p>
                ${this.localeObj.t('volunteer.mainHeader.par00')}
            </p>
            <p>
                ${this.localeObj.t('volunteer.mainHeader.par01')}
            </p>
        </div>
        <p class="col s12">
            ${this.localeObj.t('volunteer.mainHeader.par02')}
        </p>
    </div>
</section>

<section class="section">
    <h3>${this.localeObj.t('volunteer.whyVolunteer.title')}</h3>
    <ul class="browser-default">
        <li>
            ${this.localeObj.t('volunteer.whyVolunteer.list00')}
        </li>
        <li>
            ${this.localeObj.t('volunteer.whyVolunteer.list01')}
        </li>
        <li>
            ${this.localeObj.t('volunteer.whyVolunteer.list02')}
        </li>
    </ul>
</section>

<section class="section">
    <h3>${this.localeObj.t('volunteer.qualifications.title')}</h3>
    <p>
        ${this.localeObj.t('volunteer.qualifications.par00')}
    </p>

    <ul class="browser-default">
        <li>${this.localeObj.t('volunteer.qualifications.list00')}</li>
        <li>${this.localeObj.t('volunteer.qualifications.list01')}</li>
        <li>${this.localeObj.t('volunteer.qualifications.list02')}</li>
    </ul>
</section>

<section class="section">
    <h3>${this.localeObj.t('volunteer.possibleWork.title')}</h3>
    <div class="animate-row-img row">
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">camera_alt</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.docu.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.docu.desc')}
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">description</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.sec.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.sec.desc')}
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">shopping_basket</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.logistics.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.logistics.desc')}
            </p>
        </div>
    </div>
    <div class="animate-row-img row">
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">event_seat</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.reg.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.reg.desc')}
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">money</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.fin.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.fin.desc')}
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">info</i>
            <h5>${this.localeObj.t('volunteer.possibleWork.cards.info.title')}</h5>
            <p>
                ${this.localeObj.t('volunteer.possibleWork.cards.info.desc')}
            </p>
        </div>
    </div>

    <p>
        ${this.localeObj.t('volunteer.possibleWork.obligations.par00')}
    </p>
    <ul class="browser-default">
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list00')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list01')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list02')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list03')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list04')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list05')}</li>
        <li>${this.localeObj.t('volunteer.possibleWork.obligations.list06')}</li>
    </ul>
</section>

<section class="section">
    <h3>${this.localeObj.t('volunteer.applyNow.title')}</h3>
    <p>
        ${this.localeObj.t('volunteer.applyNow.par00')}
    </p>

    <p class="center-align">
        <a class="btn green darken-4 btn-large waves-effect waves-light" target="_blank" href="//bit.ly/fjkvolunteer">${this.localeObj.t('volunteer.applyNow.applyNow')}</a>
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('volunteer.contact.title')}</h3>
    <p>
        ${this.localeObj.t('volunteer.contact.chunk00')}
        <a href="tel:+639982491891">
            +63<span class="hide">908</span>
            998<span class="hide">1241<br>+63 919</span>
            249<span class="hide">1640<br>+63 908</span>
            1891<span class="hide">110</span>
        </a>
        ${this.localeObj.t('volunteer.contact.chunk01')}
        <a href="mailto:peyc2020@gmail.com" target="_blank">
            peyc<span class="hide">you</span>2020<span class="hide">have</span>@<span class="hide">been</span>gmail<span class="hide">pwned</span>.<span class="hide">here</span>com
        </a>
        ${this.localeObj.t('volunteer.contact.chunk02')}
        <a href="mailto:esperanto.philippines@gmail.com" target="_blank">
            esper<span class="hide">saluton</span>anto<span class="hide">kiel</span>.<span class="hide">vi</span>philippines<span class="hide">fartas</span>@<span class="hide">bone</span>gmail<span class="hide">koran</span>.<span class="hide">dankon</span>com
        </a>
    </p>
</section>