<section class="section">
    <h3>${this.localeObj.t('program.intro.title')}</h3>
    ${this.localeObj.t('program.intro.pars')}
</section>

<section id="section-guidelines" class="section">
    <h3>${this.localeObj.t('program.guidelines.title')}</h3>

    ${this.localeObj.t('program.guidelines.par00')}

    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">schedule</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.00')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">accessibility</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.01')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">all_inclusive</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.02')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">not_listed_location</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.03')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">assignment_late</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.04')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">laptop</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.05')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">list_alt</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.06')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">device_unknown</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.07')}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2">
            <i class="material-icons material-icons-large">cancel_schedule_send</i>
        </div>
        <div class="col s12 m10">
            ${this.localeObj.t('program.guidelines.rules.08')}
        </div>
    </div>

    ${this.localeObj.t('program.guidelines.par01')}
</section>

<section class="section">
    <h3>${this.localeObj.t('program.form.title')}</h3>
    ${this.localeObj.t('program.form.desc')}

    <p class="card-panel theme-yellow white-text">
        ${this.localeObj.t('program.form.otherLink')}
    </p>

    <div class="center-align">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd13njpsGhgOL7-inhD9zVklyPj5giOWtnm5JBKpEAq3OblDw/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</section>