<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.basic.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.basic.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.travel.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.travel.pars')}
    </p>
    <div class="row">
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/naia_t3.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.travel.images.0')}
            </p>
        </div>
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/clark_airport.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.travel.images.1')}
            </p>
        </div>
    </div>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.climate.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.climate.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.time.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.time.pars')}
    </p>
    <p id="card-ph-time" class="card-panel theme-green white-text">
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.lang.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.lang.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.electric.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.electric.pars')}
    </p>

    <div class="row">
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/plug_a.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.electric.images.0')}
            </p>
        </div>
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/plug_b.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.electric.images.1')}
            </p>
        </div>
    </div>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.phone.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.phone.pars')}
    </p>
    <div class="row">
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/sim_cards.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.phone.images.0')}
            </p>
        </div>
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/sim_airport.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.phone.images.1')}
            </p>
        </div>
        <div class="col s12 m4">
            <img class="responsive-img" alt="Type B plug" src="${require('../../img/country_city/phone_stores.jpg')}">
            <p>
                ${this.localeObj.t('infoCountryCity.phone.images.2')}
            </p>
        </div>
    </div>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.internet.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.internet.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.money.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.money.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.water.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.water.pars')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoCountryCity.health.title')}</h3>
    <p>
        ${this.localeObj.t('infoCountryCity.health.pars')}
    </p>
</section>