<section id="section-intro" class="section">
    <h3>${this.localeObj.t('infoCovid19.intro.title')}</h3>
    <p>
        ${this.localeObj.t('infoCovid19.intro.pars')}
    </p>

    <div class="center-align">
        <img id="img-poster" width="480" alt="COVID19 Advisory" src="${require('../../img/news/covid19_advisory_en.png')}">
    </div>
</section>

<section id="section-statement" class="section">
    <h3>${this.localeObj.t('infoCovid19.statement.title')}</h3>

    ${this.localeObj.t('infoCovid19.statement.introPars')}

    ${this.localeObj.t('infoCovid19.statement.conditionBullets')}

    ${this.localeObj.t('infoCovid19.statement.nextPars')}
</section>