<section id="section-urgent-news" class="section scrollspy">
    <article class="card-panel theme-red white-text">
        <h2>${this.localeObj.t('urgentAdvisory.covid19.header')}</h2>
        <p>${this.localeObj.t('urgentAdvisory.covid19.desc')}</p>
    </article>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoPayment.intro.title')}</h3>
    <p class="card-panel theme-red white-text">
        ${this.localeObj.t('infoPayment.intro.docuNotice')}
    </p>

    <p>
        ${this.localeObj.t('infoPayment.intro.desc')}
    </p>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoPayment.localGuidelines.header')}</h3>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.localGuidelines.remittance.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.remittance.desc')}
        </p>
        <p class="card-panel">
            <b>${this.localeObj.t('infoPayment.generalText.recipientName')}</b>: Albert Stalin Tancinco Garrido<br>
            <b>${this.localeObj.t('infoPayment.generalText.contactNum')}</b>: 0998-249-1891<br>
            <b>${this.localeObj.t('infoPayment.generalText.email')}</b>: albertstgarrido@gmail.com<br>
            <b>${this.localeObj.t('infoPayment.generalText.city')}</b>: Quezon City, Metro Manila<br>
        </p>
        <p class="card-panel white-text theme-red">
            ${this.localeObj.t('infoPayment.localGuidelines.remittance.surchargeNotice')}
        </p>
        <p class="card-panel white-text theme-green">
            ${this.localeObj.t('infoPayment.localGuidelines.remittance.docuNotice')}
        </p>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.localGuidelines.bankDeposit.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.bankDeposit.desc')}
        </p>
        <div class="row">
            <div class="col l6">
                <div class="card-panel">
                    <h6>Landbank</h6>
                    <p>
                        <b>${this.localeObj.t('infoPayment.generalText.accountName')}</b>: Albert Stalin T. Garrido<br>
                        <b>${this.localeObj.t('infoPayment.generalText.accountNum')}</b>: 3077 1061 96<br>
                        <b>${this.localeObj.t('infoPayment.generalText.accountBranch')}</b>: Landbank UP Diliman<br>
                    </p>
                </div>
            </div>
            <div class="col l6">
                <div class="card-panel">
                    <h6>Banco de Oro</h6>

                    <p>
                        <b>${this.localeObj.t('infoPayment.generalText.accountName')}</b>: Albert Stalin T. Garrido<br>
                        <b>${this.localeObj.t('infoPayment.generalText.accountNum')}</b>: 005350261895<br>
                        <b>${this.localeObj.t('infoPayment.generalText.accountBranch')}</b>: BDO A. Arnaiz-San Lorenzo Village<br>
                        <b>${this.localeObj.t('infoPayment.generalText.accountType')}</b>: Savings<br>
                    </p>
                </div>
            </div>
        </div>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.bankDeposit.surchargeNotice')}
        </p>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.bankDeposit.docuNotice')}
        </p>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.localGuidelines.paypal.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.paypal.desc')}
        </p>
        <p class="card-panel theme-red white-text">
            ${this.localeObj.t('infoPayment.localGuidelines.paypal.surchargeNotice')}
        </p>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.localGuidelines.onlineBank.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.localGuidelines.onlineBank.desc')}
        </p>
        <p class="card-panel">
            <b>${this.localeObj.t('infoPayment.generalText.bank')}</b>: BDO<br>
            <b>${this.localeObj.t('infoPayment.generalText.accountName')}</b>: Albert Stalin T. Garrido<br>
            <b>${this.localeObj.t('infoPayment.generalText.accountNum')}</b>: 005350261895<br>
            <b>${this.localeObj.t('infoPayment.generalText.accountType')}</b>: Savings<br>
        </p>
        <p class="card-panel theme-green white-text">
            ${this.localeObj.t('infoPayment.localGuidelines.onlineBank.docuNotice')}
        </p>
    </article>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoPayment.foreignGuidelines.header')}</h3>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.foreignGuidelines.remittance.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.foreignGuidelines.remittance.desc')}
        </p>
        <p class="card-panel">
            <b>${this.localeObj.t('infoPayment.generalText.recipientName')}</b>: Albert Stalin Tancinco Garrido<br>
            <b>${this.localeObj.t('infoPayment.generalText.cityCountry')}</b>: Quezon City, Metro Manila, Philippines<br>
            <b>${this.localeObj.t('infoPayment.generalText.contactNum')}</b>: +63-998-249-1891<br>
            <b>${this.localeObj.t('infoPayment.generalText.email')}</b>: albertstgarrido@gmail.com<br>
        </p>
        <p class="card-panel theme-red white-text">
            ${this.localeObj.t('infoPayment.foreignGuidelines.remittance.surchargeNotice')}
        </p>
        <p class="card-panel theme-green white-text">
            ${this.localeObj.t('infoPayment.foreignGuidelines.remittance.docuNotice')}
        </p>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.foreignGuidelines.paypal.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.foreignGuidelines.paypal.desc')}
        </p>
        <p class="card-panel theme-red white-text">
            ${this.localeObj.t('infoPayment.foreignGuidelines.paypal.surchargeNotice')}
        </p>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.foreignGuidelines.bankDeposit.title')}</h5>
        <p>
            ${this.localeObj.t('infoPayment.foreignGuidelines.bankDeposit.desc')}
        </p>
        <p class="card-panel">
            <b>${this.localeObj.t('infoPayment.generalText.bank')}</b>: Landbank of the Philippines<br>
            <b>${this.localeObj.t('infoPayment.generalText.accountName')}</b>: Albert Stalin T. Garrido<br>
            <b>${this.localeObj.t('infoPayment.generalText.accountNum')}</b>: 3077106196<br>
            <b>${this.localeObj.t('infoPayment.generalText.swift')}</b>: TLBPPHMM<br>
            <b>${this.localeObj.t('infoPayment.generalText.bankAddress')}</b>: Head Office, Landbank Plaza, M.H. Del Pilar cor. D. J. Quintos Sts., Malate, Manila, Philippines<br>
            <b>${this.localeObj.t('infoPayment.generalText.postal')}</b>: 1004<br>
            <b>${this.localeObj.t('infoPayment.generalText.bankTel')}</b>: +63-2-405-7000<br>
        </p>
        <p class="card-panel theme-red white-text">
            ${this.localeObj.t('infoPayment.foreignGuidelines.bankDeposit.surchargeNotice')}
        </p>
        <p class="card-panel theme-green white-text">
            ${this.localeObj.t('infoPayment.foreignGuidelines.bankDeposit.docuNotice')}
        </p>
    </article>
</section>

<section class="section">
    <h3>${this.localeObj.t('infoPayment.lateGuidelines.header')}</h3>
    <p>
        ${this.localeObj.t('infoPayment.lateGuidelines.desc00')}
    </p>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.lateGuidelines.regFee.title')}</h5>
        ${this.localeObj.t('infoPayment.lateGuidelines.regFee.desc')}
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.lateGuidelines.lodging.title')}</h5>
        ${this.localeObj.t('infoPayment.lateGuidelines.lodging.desc')}
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoPayment.lateGuidelines.others.title')}</h5>
        ${this.localeObj.t('infoPayment.lateGuidelines.others.desc')}
    </article>

    <p>
        ${this.localeObj.t('infoPayment.lateGuidelines.desc01')}
    </p>

</section>