<section id="section-urgent-news" class="section scrollspy">
    <article class="card-panel theme-red white-text">
        <h2>${this.localeObj.t('urgentAdvisory.covid19.header')}</h2>
        <p>${this.localeObj.t('urgentAdvisory.covid19.desc')}</p>
    </article>
</section>

<section class="section">
    <article class="section">
        <h3>${this.localeObj.t('infoRegistration.intro.header')}</h3>
        ${this.localeObj.t('infoRegistration.intro.desc')}
    </article>

    <article class="section">
        <h3>${this.localeObj.t('infoRegistration.joinReq.header')}</h3>
        ${this.localeObj.t('infoRegistration.joinReq.desc')}
    </article>
</section>

<section class="section hide">
    <h3>${this.localeObj.t('infoRegistration.regPeriod.header')}</h3>
    ${this.localeObj.t('infoRegistration.regPeriod.desc')}

    <p id="div-regperiod-notice" class="card-panel theme-green white-text">
        ${this.localeObj.t('infoRegistration.regPeriod.notice')}
    </p>

    <div class="row">
        <table class="col s12 l6 offset-l3">
            <thead>
                <tr>
                    <th>${this.localeObj.t('infoRegistration.generalText.regPeriod')}</th>
                    <th>${this.localeObj.t('infoRegistration.generalText.startDate')}</th>
                    <th>${this.localeObj.t('infoRegistration.generalText.endDate')}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${this.localeObj.t('infoRegistration.generalText.earlyReg')}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.6'), day: '28', month: this.localeObj.t('calendar.months.11'), year: '2019'})}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.1'), day: '27', month: this.localeObj.t('calendar.months.0'), year: '2020'})}</td>
                </tr>
                <tr>
                    <td>${this.localeObj.t('infoRegistration.generalText.regularReg')}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.2'), day: '28', month: this.localeObj.t('calendar.months.0'), year: '2020'})}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.1'), day: '23', month: this.localeObj.t('calendar.months.2'), year: '2020'})}</td>
                </tr>
                <tr>
                    <td>${this.localeObj.t('infoRegistration.generalText.lateReg')}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.2'), day: '24', month: this.localeObj.t('calendar.months.2'), year: '2020'})}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.3'), day: '22', month: this.localeObj.t('calendar.months.3'), year: '2020'})}</td>
                </tr>
                <tr>
                    <td>${this.localeObj.t('infoRegistration.generalText.onsiteReg')}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.4'), day: '23', month: this.localeObj.t('calendar.months.3'), year: '2020'})}</td>
                    <td>${this.localeObj.t('date', {weekdayWord: this.localeObj.t('calendar.weekdays.6'), day: '25', month: this.localeObj.t('calendar.months.3'), year: '2020'})}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="section-categories" class="section">
    <h3>${this.localeObj.t('infoRegistration.regCategories.header')}</h3>
    ${this.localeObj.t('infoRegistration.regCategories.desc')}

    ${this.localeObj.t('infoRegistration.regCategories.A')}
    ${this.localeObj.t('infoRegistration.regCategories.B')}
    ${this.localeObj.t('infoRegistration.regCategories.C')}
    ${this.localeObj.t('infoRegistration.regCategories.D')}

    ${this.localeObj.t('infoRegistration.regCategories.childClause')}
</section>

<section class="section">
    <h3>${this.localeObj.t('infoRegistration.walkIn.header')}</h3>
    ${this.localeObj.t('infoRegistration.walkIn.desc')}
</section>

<section class="section">
    <h3>${this.localeObj.t('infoRegistration.feeSchedule.header')}</h3>

    <article class="section">
        <h5>${this.localeObj.t('infoRegistration.generalText.localPart')}</h5>
        <div class="row">
            <table class="col s12 l8 offset-l2">
                <thead>
                    <tr>
                        <th rowspan="2">${this.localeObj.t('infoRegistration.generalText.category')}</th>
                        <th class="center-align" colspan="3">${this.localeObj.t('infoRegistration.generalText.regFees')} (PHP)</th>
                    </tr>
                    <tr>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.earlyReg')}</th>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.regularReg')}</th>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.lateReg')}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>A1:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.A1')}
                        </td>
                        <td class="center-align">1100</td>
                        <td class="center-align">1300</td>
                        <td class="center-align">1500</td>
                    </tr>
                    <tr>
                        <td>
                            <b>A2:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.A2')}
                        </td>
                        <td class="center-align">1400</td>
                        <td class="center-align">1600</td>
                        <td class="center-align">1800</td>
                    </tr>
                    <tr>
                        <td>
                            <b>B1:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.B1')}
                        </td>
                        <td class="center-align">1600</td>
                        <td class="center-align">1800</td>
                        <td class="center-align">2000</td>
                    </tr>
                    <tr>
                        <td>
                            <b>B2:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.B2')}
                        </td>
                        <td class="center-align">1800</td>
                        <td class="center-align">2000</td>
                        <td class="center-align">2200</td>
                    </tr>
                    <tr>
                        <td>
                            <b>C:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.C')}
                        </td>
                        <td class="center-align" colspan="3">900</td>
                    </tr>
                    <tr>
                        <td>
                            <b>D:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.D')}
                        </td>
                        <td class="center-align" colspan="3">4500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>

    <article class="section">
        <h5>${this.localeObj.t('infoRegistration.generalText.foreignPart')}</h5>
        <p class="card-panel white-text theme-red">
            ${this.localeObj.t('infoRegistration.feeSchedule.forexNote')}
        </p>
        <div class="row">
            <table class="col s12 l8 offset-l2">
                <thead>
                    <tr>
                        <th rowspan="2">${this.localeObj.t('infoRegistration.generalText.category')}</th>
                        <th class="center-align" colspan="3">${this.localeObj.t('infoRegistration.generalText.regFees')} (EUR)</th>
                    </tr>
                    <tr>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.earlyReg')}</th>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.regularReg')}</th>
                        <th class="center-align">${this.localeObj.t('infoRegistration.generalText.lateReg')}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>A:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.A')}
                        </td>
                        <td class="center-align">25</td>
                        <td class="center-align">30</td>
                        <td class="center-align">35</td>
                    </tr>
                    <tr>
                        <td>
                            <b>B1:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.B1')}
                        </td>
                        <td class="center-align">30</td>
                        <td class="center-align">35</td>
                        <td class="center-align">40</td>
                    </tr>
                    <tr>
                        <td>
                            <b>B2:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.B2')}
                        </td>
                        <td class="center-align">35</td>
                        <td class="center-align">40</td>
                        <td class="center-align">45</td>
                    </tr>
                    <tr>
                        <td>
                            <b>C:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.C')}
                        </td>
                        <td class="center-align" colspan="3">18</td>
                    </tr>
                    <tr>
                        <td>
                            <b>D:</b> ${this.localeObj.t('infoRegistration.generalText.regTypes.D')}
                        </td>
                        <td class="center-align" colspan="3">88</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>