<section id="section-intro" class="section">
    <h3><i>Saluton!</i></h3>
    <p class="center-align">
        <img class="responsive-img" alt="Call for Organizers Poster" width="512" src="/img/organizer_call.png">
    </p>
    <p>
        We are honored to announce that finally, there is an
        initiative to organize the <b>1st Philippine Esperanto Youth Congress</b> to be
        held in the year 2020. This historic congress shall mark the culmination of the
        seven years of effort of Esperanto advocates in the country and the forward step
        towards the further growth and integration of the national Esperanto community,
        and shall provide speakers, learners, and advocates coming from different parts
        of the country the opportunity to interact, learn, and work together in a series
        of social and educational activities.
    </p>
    <p>
        In line with this, the conveners of the Congress would like to start the
        preparations by launching an open call for individuals which shall become
        members of the <b>local organizing committee (LKK)</b>, which shall consist of <b>seven (7) members</b>.
        To this end, we are currently in need of <b>three (3) individuals</b> who shall take
        charge of each one of the following posts.
    </p>
</section>

<section class="section">
    <h3>Qualifications</h3>
    <p>
        Anyone interested must have at least the following qualifications:
    </p>

    <ul class="browser-default">
        <li>Must be over 18 years old</li>
        <li>Is firmly committed to ensure the success of the congress through proper delivery of responsibilities expected of the post within prescribed deadlines</li>
        <li>Is willing to communicate and coordinately actively with other members of the LKK and all other personnel involved with the preparation for the congress</li>
        <li>Has any prior experience or training relevant to the post assigned, especially for Finance (preferably professional or has related educational background), otherwise, is willing to actively familiarize himself/herself and learn new things related to the post</li>
    </ul>

    <p>
        Furthermore, the following qualifications are preferred but not required:
    </p>

    <ul class="browser-default">
        <li>Resides within the National Capital Region (NCR) or in the immediately surrounding areas (except for Logistics and Finance, in which proximity is required), and is ready to allot time to participate in physical meetings at least once a month</li>
        <li>Can be easily reached through email, social media, and/or SMS, whichever is most convenient</li>
        <li>Possesses at least basic (A2) or higher proficiency in Esperanto, especially for particular posts whose tasks may require periodic communication with the international Esperanto community, such as External Relations & Marketing and Finance; and is willing to continue learning the language during the time before the congress</li>
        <li>Has prior experience in event organizing</li>
    </ul>

    <p>
        It should be clarified, however, that the posts will not handle the work alone,
        but will be aided with assistance from the conveners and volunteer staff throughout the
        whole preparation period for the congress and during the congress itself.
    </p>
</section>

<section class="section">
    <h3>Vacant Positions</h3>
    <p>
        Please click on the positions to view the qualifications.
    </p>

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="material-icons">edit</i>Secretary</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>records and archives the minutes of the meeting of the LKK</li>
                    <li>receives and archives contracts signed with other entities</li>
                    <li>prepares agenda of LKK meetings</li>
                    <li>maintains record of participant registration and orders</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Secretary">Apply for This Position</a>
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">local_atm</i>Director for Finance</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>maintains and safeguards the congress funds</li>
                    <li>processes and records payments for registration and miscellaneous fees</li>
                    <li>compiles receipts</li>
                    <li>facilitate disbursement of funds for transactions such as downpayments, orders, etc.</li>
                    <li>prepares budget reports and financial statements</li>
                    <li>spearheads fundraising activities</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Director+for+Finance">Apply for This Position</a>
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">location_city</i>Director for Logistics</div>
            <div class="collapsible-body">
                <ul class="browser-default">
                    <li>scouts and arranges suitable meeting and activity venues</li>
                    <li>spearheads arrangements for accommodation (lodging and food)</li>
                    <li>prepares materials and equipment needed</li>
                    <li>oversees the printing of the congress booklet, certificates, etc.</li>
                    <li>designs floor plan and coordinates venue decorations</li>
                </ul>

                <p class="center-align">
                    <a class="btn green darken-4 waves-effect waves-light" target="_blank" href="//docs.google.com/forms/d/e/1FAIpQLSegVq4sMzGpO2_pusbxQB3L_m10S_xvLqQGZScgK4iKQm0EQg/viewform?usp=pp_url&entry.999570943=Director+for+Logistics">Apply for This Position</a>
                </p>
            </div>
        </li>
    </ul>

    <p>
        For those who are interested, kindly completely fill-up the application form.
        For those who still have reservations (i.e. unsure whether they satisfy the qualifications
        above, etc.), we strongly encourage you to apply nevertheless and we shall
        exhaust all means to find agreeable solutions.
    </p>

    <p class="center-align">
        <a class="btn green darken-4 btn-large waves-effect waves-light" target="_blank" href="//bit.ly/OrganizeFJKApply">Apply Now</a>
    </p>
</section>

<section class="section">
    <h3>Contact Us</h3>
    <p>
        For inquiries, please contact Albert Garrido at +63 998 249 1891 or send an email to
        esperanto.philippines@gmail.com or peyc2020@gmail.com.
    </p>
</section>