<section id="section-intro" class="section">
    <h3><i>Saluton!</i></h3>

    <div class="row">
        <div class="col s12 m4 center-align">
            <img class="responsive-img" alt="Call for Volunteers Poster" width="256" src="${require('../img/volunteer_call.jpg')}">
        </div>
        <div class="col s12 m8">
            <p>
                We are glad to inform everyone that through the initiative of some dedicated members of
                the Esperanto language community in the Philippines, preparations for the very first
                Philippine Esperanto Youth Congress to be held in 2020 have started.
            </p>
            <p>
                This historic congress shall mark the culmination of the seven years of effort of
                Esperanto advocates in the country and the forward step towards the further growth
                and integration of the national Esperanto community, and shall provide speakers,
                learners, and advocates coming from different parts of the country the opportunity
                to interact, learn, and work together in a series of social and educational activities.
            </p>
        </div>
        <p class="col s12">
            However, since there are only a few people within the Organizing Committee, they can't
            do all the preparations on their own. So, we need you, volunteers, to be our partners
            to carry out different parts and aspects of preparation for this historical event.
        </p>
    </div>
</section>

<section class="section">
    <h3>Why Volunteer?</h3>
    <ul class="browser-default">
        <li>
            Provide major contributions to the success of this event and leave a lasting legacy
            not only for the local and international Esperanto community, but also to the general
            advocacy for language rights, multiculturalism, and international solidarity which have
            proven to be beneficial for the Filipino people
        </li>
        <li>
            Free monthly Esperanto lessons to improve your language proficiency, directly from the
            country's most fluent Esperanto speakers
        </li>
        <li>
            Regular trainings to deepen your understanding of the Esperanto community and develop
            your organizational skills
        </li>
    </ul>
</section>

<section class="section">
    <h3>Qualifications</h3>
    <p>
        Anyone interested must have at least the following qualifications:
    </p>

    <ul class="browser-default">
        <li>No minimum age required</li>
        <li>Proficiency in Esperanto is not required</li>
        <li>Individuals living outside Metro Manila and its surrounding regions are absolutely welcome</li>
    </ul>
</section>

<section class="section">
    <h3>Possible Work</h3>
    <div class="animate-row-img row">
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">camera_alt</i>
            <h5>Documentation</h5>
            <p>
                photography and videography (before and during the Congress)
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">description</i>
            <h5>Secretariat</h5>
            <p>
                technical writing and transcription
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">shopping_basket</i>
            <h5>Logistics</h5>
            <p>
                venue and food arrangements, floor plan management,
                preparation of equipment and merchandise
            </p>
        </div>
    </div>
    <div class="animate-row-img row">
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">event_seat</i>
            <h5>Registration</h5>
            <p>
                preparation of participants’ kits and manning registration booths
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">money</i>
            <h5>Finance</h5>
            <p>
                organization of fund-raising initiatives
            </p>
        </div>
        <div class="col s12 m4 center-align">
            <i class="material-icons material-icons-large">info</i>
            <h5>Information</h5>
            <p>
                creation of materials, social media management, and other forms of
                online publicity
            </p>
        </div>
    </div>

    <p>
        Volunteers are also expected to do the following:
    </p>
    <ul class="browser-default">
        <li>Report and communicate with the Organizing Committee Member who has jurisdiction or supervision over the work he or she will be doing</li>
        <li>Assist members of the Congress Organizing Committee or other members of the VS on work that may otherwise be difficult or impossible to carry out alone</li>
        <li>Provide necessary manpower/technical assistance to accomplish even trivial tasks which are otherwise crucial to the preparations</li>
        <li>Be firmly committed to ensure the success of the Congress through proper delivery of deliverables within prescribed deadlines</li>
        <li>Be willing to learn (or continue learning) the language in the time available until the Congress</li>
        <li>Be easily reached through email, social media, and/or SMS, whichever is most convenient</li>
        <li>Be ready to allot time to participate in meetings and/or orientations, whether physical or online</li>
    </ul>
</section>

<section class="section">
    <h3>Vacant Positions</h3>
    <p>
        For those who are interested to apply, kindly completely fill-up the application form
        as linked below.
    </p>

    <p class="center-align">
        <a class="btn green darken-4 btn-large waves-effect waves-light" target="_blank" href="//bit.ly/fjkvolunteer">Apply Now</a>
    </p>
</section>

<section class="section">
    <h3>Contact Us</h3>
    <p>
        For inquiries, please contact Albert Garrido at
        <a href="tel:+639982491891">
            +63<span class="hide">908</span>
            998<span class="hide">1241<br>+63 919</span>
            249<span class="hide">1640<br>+63 908</span>
            1891<span class="hide">110</span>
        </a>
        or send an email to
        <a href="mailto:peyc2020@gmail.com" target="_blank">
            peyc<span class="hide">you</span>2020<span class="hide">have</span>@<span class="hide">been</span>gmail<span class="hide">pwned</span>.<span class="hide">here</span>com
        </a>
        or
        <a href="mailto:esperanto.philippines@gmail.com" target="_blank">
            esper<span class="hide">saluton</span>anto<span class="hide">kiel</span>.<span class="hide">vi</span>philippines<span class="hide">fartas</span>@<span class="hide">bone</span>gmail<span class="hide">koran</span>.<span class="hide">dankon</span>com
        </a>
    </p>
</section>