.datepicker-date-display {
    background-color: #418B45;
}

.datepicker-table td.is-today {
    color: #418B45;
    font-weight: bold;
}

.datepicker-table td.is-selected {
    background-color: #418B45;
}

.datepicker-cancel, .datepicker-done {
    color: #418B45;
}