nav {
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

header.hero {
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0, 0, 0, 0.7)) no-repeat center;
}

header.hero .hero-down-marker {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 15vh;
    text-align: center;
}

header.hero .hero-down-marker:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.material-icons-large {
    font-size: 4.5em;
    color: whitesmoke;
    background: #418B45;
    border-radius: 50%;
    padding: 0.25em;
}

.socicon {
    font-size: 1.5em;
}

.parallax-container {
    height: 100vh;
}

.promo-header {
    font-weight: bold;
    font-size: 1.5em;
}

footer .footer-copyright {
    background-color: #418B45;
}

footer .footer-main a:link {
    color: #418B45;
}

footer .footer-main a:hover {
    text-decoration: underline;
}

.theme-green {
    background-color: #418B45;
}

.theme-green-text {
    color: #418B45;
}

.theme-red {
    background-color: #992226;
}

.theme-red-text {
    color: #992226;
}

.theme-yellow {
    background-color: #CC9D37;
}

.theme-yellow-text {
    color: #CC9D37;
}