/** Page-wide styles **/
body {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

p {
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

blockquote {
    box-shadow: inset 5px 0 #00612C;
}

.right-text {
    text-align: right;
}

audio {
    width: 100%;
}

.tag-button {
    font-size: .75em;
    border-radius: 5em;
    background-color: #50C5C7;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

ul.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.pagination li {
    margin: 0 0.125em;
    padding: 0.25em 0.75em;
    border-radius: 0.5em;
}

ul.pagination li a {
    color: black;
}

ul.pagination li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

ul.pagination li.disabled {
    background-color: #E0E0E0;
}

ul.pagination li.active {
    background-color: #00612C;
}

ul.pagination li.active:hover {
    background-color: #00612C;
}

ul.pagination li.active a {
    color: white;
}

.material-icons.vertical-center {
    vertical-align: bottom;
}

span.publish-date {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    margin: 16px;
}

.article-subinfo {
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

/** Main nav bar **/
#main-nav {
    position: absolute;
    background-color: #00612C;
    box-shadow: 0 0;
    padding: 2em 0;
}

#main-nav .brand {
    color: white;
}

#main-nav .button.pseudo-nav {
    background: none;
    color: white;
}

#main-nav .button.selected-nav {
    background-color: white;
    color: black;
}

/** Main content **/
main {
    margin: 0 20%;
    margin-top: 5em;
    flex-grow: 1;
}

main img {
    width: 100%;
}

main .text-content > :first-child {
    margin-top: 0;
}

main ul {
    list-style-type: circle;
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    list-style-position: inside;
}

main p {
    font-size: 0.9em;
}

main h1 {
    font-size: 3em;
    line-height: 1.25em;
    color: #00612c;
}

main h2 {
    font-size: 2em;
    color: #00612c;
}

main article.card header a,
main article.card .content-preview a {
    color: #00612c;
}

/** Footer **/
footer#main-footer {
    flex-shrink: 0;
}

footer#main-footer .content {
    background-color: #146E05;
    color: white;
    padding: 1em 15%;
}

footer#main-footer a:link {
    color: #00ED6C;
}

footer#main-footer .copy {
    background-color: #00612C;
    color: white;
    padding: 0.5em 15%;
}

@media all and (max-width: 60em) {
    main article h1 {
        font-size: 2em;
    }

    #main-nav .menu {
        background-color: #00612C;
    }

    #main-nav .burger {
        color: white;
    }
}